In [ ]:
data = []




n = int(input("리스트의 길이: "))

for i in range(n):
    if n < 1 or n > 100:
        print("실행할수 없습니다.")
    else:
     element = int(input(f"{i+1}번째 원소를 입력하세요:"))
     data.append(element)

print("생성된 리스트:",data)

def solution(data):
    a = 0
    for woaks in data:

        if (woaks % 2 == 1):
             a += woaks

    return a


if __name__ == "__main__":
    solution(data)
    print(a)

In [ ]:
def solution(data):
    # 리스트가 비어 있으면 0을 반환
    if not data:
        return 0

    sum_of_odds = 0
    for number in data:
        # 숫자가 홀수인 경우 합계에 추가
        if number % 2 == 1:
            sum_of_odds += number

    return sum_of_odds

# 곱하기

* 문제 설명

주어진 리스트를 모두 곱하는 solution 함수를 완성해주세요.

* 제한 사항

1 ≤ 리스트 안의 수 ≤ 100

숫자 외에 다른 값은 주어지지 않습니다.

각각의 값은 1차원 리스트로 주어집니다.

리스트 안에 값이 없는 경우는 0으로 출력해야 합니다.

In [ ]:
data = []




n = int(input("리스트의 길이: "))

for i in range(n):
    if n < 1 or n > 100:
        print("실행할수 없습니다.")
    else:
     element = int(input(f"{i+1}번째 원소를 입력하세요:"))
     data.append(element)

print("생성된 리스트:",data)






def solution(data):
    # 리스트가 비어 있으면 0을 반환
    if not data:
        return 0
    a = 1

    for i in data:
        a = a *i
    return a

if __name__ == "__main__":
    result = solution(data)
    print(result)

In [ ]:
def solution(data):
    # 리스트가 비어 있으면 0을 반환
    if not data:
        return 0
    multi = 1

    for i in data:
        multi = multi *i
    return multi

# 조건 덧셈

In [ ]:
data = []

n = int(input())
for i in range(n):
    i = int(input())
    data.append(i)

def solution(data):
    sum = 0
    for woaks in data:
        if woaks % 5 == 0 or woaks % 3 == 0:
            sum = sum
        else:
            sum += woaks
    return sum

if __name__ == '__main__':
    results = solution(data)
    print(results)

In [ ]:
def solution(data):
    sum = 0
    for woaks in data:
        if woaks % 5 == 0 or woaks % 3 == 0:
            sum = sum
        else:
            sum += woaks
    return sum

# 크리스마스 쿠키

* 문제 설명

라이캣은 크리스마스 선물 룰렛 게임을 하고 있습니다. 룰렛에는 '쿠키 1개'부터 '쿠키 10개'까지 값이 들어 있습니다. 룰렛은 총 3번 돌릴 수 있고, 첫번째 시도에서 나온 값은 곱하기 1을 하고, 두번째 시도에서 나온 값은 곱하기 2를 하고 세번째 시도에서 나온 값은 곱하기 3을 하기로 하였습니다. 라이캣이 가져갈 쿠키의 수를 리턴하는 함수를 완성해주세요.

*제한 사항

룰렛에는 '쿠키 1개'와 같은 문자열이 주어집니다.
각각의 값은 1차원 리스트로 주어집니다.
중복해서 같은 값을 뽑을 수 있습니다.

In [ ]:
#룰렛에는 쿠키 1개부터 10개까지 값이 들어있슴다
#룰렛은 총 3번 돌릴 수 있습니다.
#첫번쨰 시도에서 나온 값은 곱하기 1을하고ㅐ,

data = ['쿠키 1개', '쿠키 2개', '쿠키 3개', '쿠키 4개', '쿠키 5개', '쿠키 6개', '쿠키 7개', '쿠키 8개', '쿠키 9개', '쿠키 10개' ]

def solution(data):
    import random
    cookie_number = 0
    cookie_sum = 0
    a = 0
    # 리스트는 랜덤 메서드를 사용 할수없다,
    # data 리스트의 len을 가져와 랜덤 인덱스를 만드는 방법을 사용함
    random_index1 = random.randrange(len(data))
    random_index2 = random.randrange(len(data))
    random_index3 = random.randrange(len(data))
    # 랜덤한
    random_data = [data[random_index1],data[random_index2],data[random_index3]]

    for i in random_data:

        a += 1

        cookie_number = ''.join([char for char in i if char.isdigit()])
        cookie_number = int(cookie_number)
        print(cookie_number)
        cookie_sum += cookie_number * (a)

    return cookie_sum

if __name__ == '__main__':
    result = solution(data)
    print(result)

In [ ]:
def solution(data):
    import random
    cookie_number = 0
    cookie_sum = 0
    a = 0

    random_index1 = random.randrange(len(data))
    random_index2 = random.randrange(len(data))
    random_index3 = random.randrange(len(data))

    random_data = [data[random_index1],data[random_index2],data[random_index3]]

    for i in random_data:

        a += 1

        cookie_number = ''.join([char for char in i if char.isdigit()])
        cookie_number = int(cookie_number)
        print(cookie_number)
        cookie_sum += cookie_number * (a)


    return cookie_sum

# 1의 갯수 반환

* 문제 설명

주어진 리스트의 값 중 1의 갯수를 반환하는 solution 함수를 완성해주세요.

In [ ]:
data = []
n = int(input())
for i in range(n):
    i = int(input())
    data.append(i)

def solution(data):
    # 리스트가 비어 있으면 0을 반환
    if not data:
        return 0
    count1 = str(data).count('1')
    return count1

if __name__ == '__main__':
    result = solution(data)
    print(result)

In [ ]:
def solution(data):
    # 리스트가 비어 있으면 0을 반환
    if not data:
        return 0
    count1 = str(data).count('1')
    return count1

# 문자열 덧셈

* 문제 설명

주어진 문자열의 숫자를 모두 더하는  solution 함수를 완성해주세요.

In [ ]:
data = ['1hel2lo3']

solution(data):
    data2 = []
    for i in data:
        for j in i:
            if j.isdigit():
                data2.append(int(j))
    result = sum(data2)
    return result

solution(data)

# 업무 우선순위
* 문제 설명

라이캣은 업무 우선순위에 따라 일일 업무를 보고 있습니다.

리스트 안에 업무 이름과 업무 우선순위가 함께 주어졌을 때,

오름차순 업무 우선순위에 따라 업무 이름을 출력해주세요.

In [ ]:
data = [['A', 3], ['B', 1], ['C', 2]]
def solution(data):
    data = sorted(data, key = lambda x : x[1])
    data = [ x[0] for x in data ]
    return data

solution(data)

# 두 점 사이의 거리

* 문제설명

직선 위에 가각 점이 [1, 3, 5, 6, 10, 12, 19]
찍혀져 있을 때 두점 사이의 거리가 가장 짧은 것은 [5, 6]입니다.

 두 점 사이가 가장 짧은 쌍을 출력하는 solution함수를 완성해주세요

In [ ]:
data = [1, 3, 4, 6]

# data1 = data[1:]
# data2 = list(zip(data, data1))
# woaks = sorted(data2, key = lambda x: x[1] - x[0])[0]
# list(woaks)

def solution(data):
    data1 = data[1:]
    data = list(zip(data, data1))
    data = sorted(data, key = lambda x: x[1] - x[0])[0]
    return list(data)

solution(data)

# 수학은 내가 1등

* 문제 설명

이름, 국영수 점수가 {'이름': '홍길동', '국': 70, '영': 30, '수':20}와 같이 딕셔너리 형태로 주어졌을 때 반 점수는

[{'이름': 'A'...}, {'이름': 'B'...}, {'이름': 'C'...}]와 같은 형태로 주어집니다.

이 때 반에서 수학점수가 가장 높은 학생의 이름을 출력하는 solution함수를 완성해주세요.

In [ ]:
data = [{'이름': 'A', '국': 30, '영': 20, '수': 85}, {'이름': 'B', '국': 95, '영': 98, '수': 10}]
def solution(data):
    return sorted(data, key = lambda x: x['수'])[::-1][0]['이름']

solution(data)

In [ ]:
def gen():
    i = 0
    while i <= 100:
        yield i
        i += 2
    return i

for j in gen():
    print(j)

list(zip('hello world',gen()))

In [ ]:
def divide(x, y):
    try:
        return x / y
    except ZeroDivisionError:
        print('재만이가 웃고 있어')

x = int(input(''))
y = int(input(''))

divide(x, y)

# 우편 번호 정렬
문제 설명

각 주소가 담긴 배열과 우편번호 목록이 딕셔너리 형태로 주어질 때 에서 우편번호 오름차순 순서대로 주소를 정렬하는 코드를 작성해주세요.

In [ ]:
m# def solution(data):
#     data[0]

#     return data[1][key]


# solution([['제주시 A동 한라산길 61', '제주시 B동 백록담길 63', '제주시 C동 사라봉길 31'],
#  {'A동': 63007, 'B동': 63010, 'C동': 63002}])

In [ ]:
def solution(data):
    a = data[0]
    b = data[1]
    c = [key for key, value in sorted(b.items(), key=lambda item: item[1])] # 정렬


    print(c)


    d = []
    for i in range(len(a)):
        for j in range(len(a)):
            if c[i] in a[j]:
                d.append(a[j])
    return d





solution([['제주시 A동 한라산길 61', '제주시 B동 백록담길 63', '제주시 C동 사라봉길 31'],
 {'A동': 63007, 'B동': 63010, 'C동': 63002}])

In [ ]:
def solution(data):
    a = data[0]
    b = data[1]
    c = [key for key,value in sorted(b.items(), key = lambda item: item[1])]
    d = []

    for i in range(len(a)):
        for j in range(len(a)):
            if c[i] in a[j]:
                d.append(a[j])
    return d

solution([['Moby Dick', 'To Kill a Mockingbird', '1984'],
          {'Moby Dick': 1851, 'To Kill a Mockingbird': 1960, '1984': 1949}])

In [ ]:
def solution(data):
    adresses = [(adress, data[1][adress.split()[1]]) for adress in data[0]]
    sorted_adress = sorted(adresses, key= lambda adress: adress[1])
    return [adress[0] for adress in sorted_adress]

solution([['제주시 A동 한라산길 61', '제주시 B동 백록담길 63', '제주시 C동 사라봉길 31'],
          {'A동': 63007, 'B동': 63010, 'C동': 63002}])

In [ ]:
data = [['제주시 A동 한라산길 61', '제주시 B동 백록담길 63', '제주시 C동 사라봉길 31'],
          {'A동': 63007, 'B동': 63010, 'C동': 63002}]

for i in data[0]:
    adresses = [(adress, data[1][adress.split()[1]]) for adress in data[0]]

In [ ]:
def solution(data):
    a = []
    for i in data:
        print(i)

    # return len([i for i in data if sum(i) / len(data) >= 80])


            # if sum(j) // len(data) >= 80:
            #     a.append(j)
    # return [j if sum(j) // len(data) >= 80 else None for i in data for j in i]

solution([[92, 85, 97], [30, 21, 60], [90, 99, 98], [0, 0, 0], [81, 80, 88, 83]])

# 도서관 책 위치 정렬
*문제 설명

도서관의 책들은 각각 고유한 위치 코드를 가지고 있습니다. 책의 위치 코드와 해당 위치 코드에 대응하는 책의 제목이 딕셔너리 형태로 주어질 때, 위치 코드 순으로 책의 제목을 정렬하는 코드를 작성해주세요. 위치 코드는 문자열로 구성되며, 사전순으로 정렬합니다.

In [ ]:
print(data.items())
def solution(data):
    data2 = sorted(data, key=lambda x: x[0], reverse=True)

    a = []
    for i in data2:
        a.append(data[i])
    return a

#도서관 책 위치 정렬
*문제 설명

도서관의 책들은 각각 고유한 위치 코드를 가지고 있습니다. 책의 위치 코드와 해당 위치 코드에 대응하는 책의 제목이 딕셔너리 형태로 주어질 때, 위치 코드 순으로 책의 제목을 정렬하는 코드를 작성해주세요. 위치 코드는 문자열로 구성되며, 사전순으로 정렬합니다.

*제한 사항

위치 코드는 영문 대소문자와 숫자로 구성된 문자열입니다.
위치 코드의 길이는 최대 10자입니다.
도서관에는 최소 1권에서 최대 100권의 책이 있습니다.
같은 위치 코드를 가진 책은 없습니다.

In [ ]:
def solution(data):
    data2 = sorted(data, key=lambda x: x[0])

    a = []
    for i in data2:
        a.append(data[i])
    return a

# 위니브 회의 시간표 정렬

*문제 설명

위니브 A 회의실에는 회의 시간 목록이 AM/PM 형식으로 표현되어 있습니다. 이 시간들을 24시간제로 변환한 뒤, 오름차순으로 정렬하는 코드를 작성해주세요. 시간은 'HH:MM AM' 또는 'HH:MM PM' 형식으로 주어지며, 12시간제를 24시간제로 변환할 때 '12:00 AM'은 '00:00', '12:00 PM'은 '12:00'으로 변환합니다.

*제한 사항

시간은 'HH:MM AM' 또는 'HH:MM PM' 형식으로 주어집니다.
'HH'는 01에서 12 사이, 'MM'은 00에서 59 사이입니다.
시간 목록에는 최소 1개에서 최대 100개의 시간이 주어집니다.

In [ ]:
def solution(data):
    time = []
    for i in data:
        if i[6:8] == 'PM':
            if int(i[0:2]) == 12:
                i = '12'  + i[3:5]
            else:
                i = str(int(i[0:2]) + 12)  + i[3:5]
        elif int(i[0:2]) == 12:
            i = '00' + i[3:5]
        else:
            i = i[0:2] + i[3:5]
        time.append(i)

    _intime = (list(map(int,time)))
    newdata = list(zip(data,_intime))
    newdata = sorted(newdata, key=lambda x: x[1])
    newdata2 = []
    for j in newdata:
        newdata2.append(j[0])
    return newdata2

# 뮤라의 휴가 입력

* 문제 설명
뮤라는 위니브 직원들의 휴가를 입력하는 업무를 맡았습니다. 휴가는 '일-월-연', '월/일/연', '연.월.일' 등 다양한 형식으로 뮤라에게 전달되었습니다. 이 날짜들을 '연/월/일' 형식으로 변환한 후, 오름차순으로 정렬하는 코드를 작성해주세요.

* 제한 사항
휴가는 '일-월-연', '월/일/연', '연.월.일' 형식 중 하나로 주어집니다.
'연'은 4자리 숫자, '월'과 '일'은 각각 2자리 숫자입니다.
날짜 목록에는 최소 1개에서 최대 100개의 날짜가 주어집니다.

In [ ]:
def solution(data):
    data2 = []
    for i in data:
        if i[2] == '-':
           a = i.split('-')
           a = f'{a[2]}/{a[1]}/{a[0]}'
           data2.append(a)
        elif i[2] == '/':
            a = i.split('/')
            a = f'{a[2]}/{a[0]}/{a[1]}'
            data2.append(a)
        else:
            a = i.split('.')
            a = f'{a[0]}/{a[1]}/{a[2]}'
            data2.append(a)
    data3 = []
    for j in data2:
        a = j.split('/')
        a = int(a[0] + a[1] + a[2])
        data3.append(a)
    data = list(zip(data2,data3))
    data = sorted(data, key= lambda x: x[1])
    data = [data[0][0], data[1][0], data[2][0]]
    return data

# 라이캣 CEO의 최근 일정 3개

* 문제 설명

라이캣은 '캣네생선'의 대표로 바쁜 나날을 보내고 있습니다. 그에게는 매주 주간 일정이 요일별로 주어집니다. 각 요일(월요일부터 금요일까지)에는 여러 일정이 있으며, 각 일정은 'YYYY-MM-DD' 형식의 날짜로 주어집니다. 모든 요일의 일정 중에서 최근 3개의 일정을 찾아 'YY-MM-DD 요일' 형식으로 반환하는 코드를 작성해주세요.

*제한 사항

일정은 0개에서 최대 100개 주어집니다.
각 일정의 날짜는 'YYYY-MM-DD' 형식으로 주어지며, 중복되는 날짜는 없습니다.
각 요일별로 일정이 있을 경우 최소 1개 이상 존재한다고 가정합니다.
반환되는 날짜 형식은 'YY-MM-DD 요일'이어야 합니다.
내림차순 정렬하여 가장 앞에 있는 것 3개를 출력해야 합니다.

In [ ]:
def solution(data):
    # 요일에 관계없이 처리하는 공통 로직을 사용하여 data2 리스트를 생성
    data2 = [f"{j.split('-')[0][2:4]}-{j.split('-')[1]}-{j.split('-')[2]} {i}"
             for i in data for j in data[i]]

    # 날짜 번호 생성 및 (data2, data_number) 튜플 생성
    data_number = ["".join(j.split(' ')[0].split('-')) for j in data2]
    data_tuples = list(zip(data2, data_number))

    # 날짜 번호를 기준으로 정렬 후 상위 3개 항목의 첫 번째 요소(날짜 문자열) 선택
    sorted_data = sorted(data_tuples, key=lambda x: x[1], reverse=True)
    result = [sorted_data[i][0] for i in range(min(3, len(sorted_data)))]

    return result

# 주간 최고 온도 기록 분석
*문제 설명

일주일 동안의 최고 기온이 기록된 데이터가 주어집니다. 이 데이터에서 가장 높은 온도를 기록한 상위 3일을 찾아 'YY-MM-DD: 온도' 형식으로 반환하는 코드를 작성해주세요. 데이터는 'YYYY-MM-DD' 형식의 날짜와 해당 날짜의 최고 온도(섭씨)로 구성됩니다.

*제한 사항

각 날짜의 최고 온도는 정수로 주어집니다.
기온 데이터는 최소 7개(일주일)에서 최대 30개(한달)까지 주어질 수 있습니다.
날짜는 중복되지 않습니다.
중복된 온도일 경우 날짜가 빠른 것이 앞에 정렬되어야 합니다.

# 타입 확인

*문제 설명

여러 클래스 이름과 이 이름의 인스턴스가 주어집니다. 각 인스턴스가 특정 클래스의 인스턴스인지 확인하는 코드를 작성해주세요.

*제한 사항

클래스는 파이썬의 기본 데이터 타입입니다.
안에 클래스와 인스턴스 매칭이 모두 올바른 경우 True를 그 외의 경우에는 False를 반환해주세요.
isinstance와 issubclass 함수를 사용하진 않습니다.

In [ ]:
def solution(data):
    for i,k in data:
        if i != type(k).__name__:
            return False
    return True

# 숫자 배열 탐색

* 문제 설명

정렬된 숫자 배열과 타겟 숫자가 주어집니다. 주어진 배열에서 타겟 숫자의 위치(인덱스)를 찾는 코드를 작성해주세요. 배열에 타겟 숫자가 없는 경우 False를 반환합니다.

* 제한 사항

배열은 오름차순으로 정렬되어 있습니다.
배열에 중복된 숫자는 없습니다.
배열의 크기는 최소 1에서 최대 100까지입니다.

In [ ]:
def solution(data):
    data2 = data[1]
    for i,k in enumerate(data[0]):
        if data2 in data[0]:
            if k == data2:
                return i
        else:
            return False