In [16]:
# 질문: 메서드 체인으로 길어지면 어떻게 하나요?
# 답: 메서드 체인으로 80자 이상이면 이미 가독성에 문제가 있는 것입니다.
# 메서드 체이닝을 3개 이상을 하길 권하지 않습니다.(가독성이 악화됩니다.)

# 문제 있는 코드
'hello world'.upper().split(' ').pop().lower() # 이렇게 코딩하시면 제가 Reject합니다.

# 문제가 덜한 코드
대문자 = 'hello world'.upper()
잘린대문자 = 대문자.split(' ')

# 허용함
'hello world'.upper()\
    .split(' ')\
    .pop()\
    .lower()

# 허용함
'hello world'.upper()   .split(' ')   .pop()   .lower()

# 허용하지 않음(\n)
# 'hello world'.upper()
#     .split(' ')
#     .pop()
#     .lower()

# 허용하지 않음(\n)
# 'hello world'.upper()
# .split(' ')
# .pop()
# .lower()

'world'

In [3]:
# 회색, 줄은 영문자 80자
# PEP8
# 줄이 너무 길면 가독성이 떨어집니다.
#Python 한줄로 하지마세ㅐ요

print('hello worldhello world')

# 해결책1: 역슬러시 넣는 방법(이스케이프랑 혼동 할수 있음)

print('hello worldhello world')

# 해결책2: 콤마를 찍지 않은 연결
print('hello world'
 'hello world')

hello worldhello world
hello worldhello world
hello worldhello world

In [9]:
# 회색 줄은 영문자 80자, 한글은 32자
# PEP8, PEP20
# 줄이 너무 길면 가독성이 떨어집니다.
# Python 잘 하시는 분 보면 모든지 한 줄로 할려고 하는 분 만나는데
# 이거 안좋은 습관입니다.

print('hello worldhello worldhello worldhello worldhello worldhello worldhello worldhello world')

# 해결책 1: 역슬러시 넣는 방법(저는 권고하지 않습니다!, 이스케이 문자랑 혼동될 수 있습니다.)
print('hello worldhello worldhello worldhello worldhello worldhello worldhello \
worldhello world')
print('hello world \n hello world')

# 해결책 2: 콤마를 찍지 않은 연결
print('hello world' 'hello world')
print('hello world'
      'hello world')

hello worldhello worldhello worldhello worldhello worldhello worldhello worldhello world
hello worldhello worldhello worldhello worldhello worldhello worldhello worldhello world
hello world
 hello world
hello worldhello world
hello worldhello world

In [6]:
# 질문 : 메서드 체인으로 길어지면 어떻게 하나요?
# 답: 메서드 체인으로 80자 이상이면 이미 가독성 문제
# 메서드 체이닝 3개이상을 하길 권하지 않습니다. (가독성이 약화됩니다.)
'hello world'.upper().split(' ').pop().lower() # 이렇게 코딩하면 별로임

'world'

In [7]:
dir('hello world') # 메서드, 매직메서드,(클래스 변수, 인스턴스 변수)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [11]:
# 문자열 메서드
dir('hello world') #메서드,매직메서드

#문제1 : firnd와 index차이
# 실무에서 사용하는 코드

if 'hello world'.find('hi'):
    print('찾았다!')

#answp2 : isdigit의정체
'123'.isdigit()
'12h3'.isdigit()
#문제3 : replace가 어디까지 변환하는지
'hello world hello world'.replace('hello', 'hi') #모두 다 변한이 되는 것이 아닙니다.
# 알아야되는 사항 : replace는 정규표현식이 안됩니다. replace를 정규표현식을 사용하고 싶으면 re.sub를 사용해야합니다.

#문제4 : strip(공백제거)
#문제5 : zfill()

찾았다!

'hi world hi world'

# 리스트

* 변경이 가능한 자료형
* 순서가 있는 자료형(시퀀스형 자료형,인덱싱, 슬라이싱)

In [13]:
i = [10, 20, 30]
# 권고1번
i = [10,
     20,
     30] # 됩니다! # 자기가 닫힐때까지

# 권고2번(이렇게 실무에서 더 많이 사용합니다.)
i = [
    10,
    20,
    30,
]

# 문제가 있습니다! 통신을 할 떄에는 JSON이라는 형식을 사용하게되는데
# JSON은 마지막에 콤마를 허용하지 않습니다~

# why? 문제가 있는 2번이 더 많이 사용되는이유
# ,때문에 (,이슈가 꽤 있다.)
# 편의성 : Ctrl + C,Ctrl + v가 더편하다
# 자동 변환 소프트웨어를 사용합니다.(python black fromatter) = > 권고!!!

In [ ]:
l = [10, 20, 30]

In [14]:
a = 10
b = a
c = b

print(c)

a = 10
b = a
c = b
a = 20
print(c)

a = 10
b =a

print(id(a))
print(id(b))

10
10
140456721269264
140456721269264

In [15]:
a = 10
b = 10

print(id(a))
print(id(b))

a is b

140456721269264
140456721269264

True

In [17]:
l = [10, 20, 30]
l[2]

30

In [21]:
# str은 안됩니다.
# s = 'hello world'
# s[0] = 'y'

s = 'hello world'
new_s = 'y' + s[1:]

s = s.replace('h','y')

In [22]:
l = [10, 20, 30]
l[2] = 1000
print(l)

[10, 20, 1000]

In [26]:
l = [10, 20, 30, 40, 50]
l[-1]
print(l[-2:]) # 마이너스 인덱싱, 마이너스 슬라이싱은 최종적으로 양수로 치환됩니다
l[3:]
# 변수명 [start:stop:step]
# 변수명[start:stop]
# 변수명[start:stop:step]

[40, 50]

[40, 50]

In [28]:
type(l),dir(l)
# type은 검색 키워드, GPT 질문 키워드가 될 수 있습니다.
# dir은 대략적인 속성을 알 수 있습니다.

(list,
 ['__add__',
  '__class__',
  '__class_getitem__',
  '__contains__',
  '__delattr__',
  '__delitem__',
  '__dir__',
  '__doc__',
  '__eq__',
  '__format__',
  '__ge__',
  '__getattribute__',
  '__getitem__',
  '__gt__',
  '__hash__',
  '__iadd__',
  '__imul__',
  '__init__',
  '__init_subclass__',
  '__iter__',
  '__le__',
  '__len__',
  '__lt__',
  '__mul__',
  '__ne__',
  '__new__',
  '__reduce__',
  '__reduce_ex__',
  '__repr__',
  '__reversed__',
  '__rmul__',
  '__setattr__',
  '__setitem__',
  '__sizeof__',
  '__str__',
  '__subclasshook__',
  'append',
  'clear',
  'copy',
  'count',
  'extend',
  'index',
  'insert',
  'pop',
  'remove',
  'reverse',
  'sort'])

In [29]:
# __add__ 가 있으니 더하기는 어디까지 될까? => 테스트
# __mul__이 있으니 곱하기는 어디가지 될까? => 테스트

i = [10, 20, 30]
# i + 100 # 정수 더하기는 안됩니다!
i + [100]
i + [100, 200]
# i + 3 # 정수 곱하기는 됩니다!
i * [1, 2] # 리스트 곱하기는 안됩니다.

TypeError: can only concatenate list (not "int") to list

In [32]:
# 리스트 곱하기는 매우 주의해야합니다!
# 곱하기가 2중으로 있을 떄에는 나중에 배울 리스트컴프리핸션사용해주세요!!!
l = [[1, 2, 3] * 3] * 2
l[1][0] = 1000
l

[[1000, 2, 3, 1, 2, 3, 1, 2, 3], [1000, 2, 3, 1, 2, 3, 1, 2, 3]]

In [34]:
l[1][0] = 10000
l

[[10000, 2, 3, 1, 2, 3, 1, 2, 3], [10000, 2, 3, 1, 2, 3, 1, 2, 3]]

In [38]:
# 암기해주세요.
x = 10 # 스칼라
x = [10] # 벡터
x = [10, 20] # 벡터
x = [[10, 20], [10, 20]] # 메트릭스(행렬)
x = [[[10, 20], [10, 20]], [[10, 20], [10, 20]]] #텐서(3차원 이상 행렬)

In [ ]:
# 텐서플로
# 인공지능 => 행렬의 연산

In [36]:
a = 10
b = 10.1
c = 10 + 2j

print(dir(a), dir(b), dir(c))

['__abs__', '__add__', '__and__', '__bool__', '__ceil__', '__class__', '__delattr__', '__dir__', '__divmod__', '__doc__', '__eq__', '__float__', '__floor__', '__floordiv__', '__format__', '__ge__', '__getattribute__', '__getnewargs__', '__gt__', '__hash__', '__index__', '__init__', '__init_subclass__', '__int__', '__invert__', '__le__', '__lshift__', '__lt__', '__mod__', '__mul__', '__ne__', '__neg__', '__new__', '__or__', '__pos__', '__pow__', '__radd__', '__rand__', '__rdivmod__', '__reduce__', '__reduce_ex__', '__repr__', '__rfloordiv__', '__rlshift__', '__rmod__', '__rmul__', '__ror__', '__round__', '__rpow__', '__rrshift__', '__rshift__', '__rsub__', '__rtruediv__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__truediv__', '__trunc__', '__xor__', 'as_integer_ratio', 'bit_count', 'bit_length', 'conjugate', 'denominator', 'from_bytes', 'imag', 'numerator', 'real', 'to_bytes'] ['__abs__', '__add__', '__bool__', '__ceil__', '__class__', '__delattr__', '__dir__', '__divmod__', '__doc__', '__eq__', '__float__', '__floor__', '__floordiv__', '__format__', '__ge__', '__getattribute__', '__getformat__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__int__', '__le__', '__lt__', '__mod__', '__mul__', '__ne__', '__neg__', '__new__', '__pos__', '__pow__', '__radd__', '__rdivmod__', '__reduce__', '__reduce_ex__', '__repr__', '__rfloordiv__', '__rmod__', '__rmul__', '__round__', '__rpow__', '__rsub__', '__rtruediv__', '__setattr__', '__setformat__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__truediv__', '__trunc__', 'as_integer_ratio', 'conjugate', 'fromhex', 'hex', 'imag', 'is_integer', 'real'] ['__abs__', '__add__', '__bool__', '__class__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__le__', '__lt__', '__mul__', '__ne__', '__neg__', '__new__', '__pos__', '__pow__', '__radd__', '__reduce__', '__reduce_ex__', '__repr__', '__rmul__', '__rpow__', '__rsub__', '__rtruediv__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__truediv__', 'conjugate', 'imag', 'real']

In [40]:
x = [[1, 2], [3, 4], [5, 6]]
x[1][1]

4

In [42]:
# Ctrl + Alt + 화살표 위나 아래,print(입력했고, end버튼 눌렀고.')

x = [[1, 2], [3, 'hello world'], [5, 6]]
print(x[1][1])
print(x[1][1][6:])

hello world
world

In [44]:
x = 10

# 다르다는 것만 인지해주세요!
print(x) # __str__
x # __repr__

10

10

In [50]:
# Python > 자료형 > list > 메서드
l = [10, 20, 30]
dir(l)

# shift + tab
# ctrl + [ Ctrl + ]
'append',
'clear',
'copy',
'count',
'extend',
'index',
'insert',
'pop',
'remove',
'reverse',
'sort'

'sort'

In [53]:
l.append(100)
l

[10, 20, 30, 100, 100, 100]

In [55]:

# 앞에다 넣는 방법
l = [1000] + l
# 앞에다 넣는 방법 2
x = 100
l = [x] + l[:]
# 앞에다 넣는 방법 3
l.insert(0, 999)
l

[999, 100, 1000, 100, 1000, 10, 20, 30, 100, 100, 100]

In [56]:
l = [10, 20, 30, 40,]
l.pop()
l

[10, 20, 30]

In [57]:
l = [10, 20, 30, 40]
l[:-1] # l = l[:-1]
l[1:] # 1 = 1[1:]

[20, 30, 40]

In [58]:
l = [10, 20, 30, 40,]
l.index(20)

1

In [59]:
# keep
# index가 에러가 납니다. error 없이 코드를 짜고 싶다
# str에 find처럼 코드를 짜고 싶을때?
# 슬라이싱을 사용합니다. => 슬라이싱은 index가 벗어나더라도 에러가 나지 않습니다.

l = [10, 20, 30, 40]
l[100:101]

[]

In [60]:
l = [10, 20, 30, 40]
l.clear()
l

[]

In [62]:
l = [10, 20, 30, 40]
ll = l

l[0] = 1000
ll
# 헷갈릴 때는 id를 써보자

id(l), id(ll)
l is ll

True

In [64]:
l = [10, 20, 30, 40]
ll = l.copy() # 맡은 복사와 깊은 복사가 있는데 이개념은 나중에

l[0] = 1000
ll

id(l), id(ll)
l is ll

False

In [66]:
l = [10, 20, 30, 40]
ll = l[:] # 맡은 복사와 깊은 복사가 있는데 이개념은 나중에

l[0] = 1000
ll
print(ll)

id(l), id(ll)
l is ll

[10, 20, 30, 40]

False

In [68]:
l = [1, 1, 1, 2, 2, 2, 3, 3, 3]
l.count(1)

3

In [73]:
# 분위기 환기차 해드리는 것
# 이해못해도 됩니다

str([1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]).count('1')
# str(1부터_10000까지_리스트).cpount('8')
list(range(10))
str(list(range(20))).count('8')

2

In [74]:
l = [10, 20, 30, 40,]
l.extend([50, 60])
l

[10, 20, 30, 40, 50, 60]

In [75]:
l = [10, 20, 30, 40,]
l.append([50, 60]) # 이것만 기억해도 괜춘~
l

[10, 20, 30, 40, [50, 60]]

In [ ]:
l = [10, 20, 30, 40]
l.extend('hello') # extend(보통리스트) , extend(순회가능한 객체)

In [79]:
l = [1, 1, 1, 2, 2, 2, 3, 3, 3]
l.remove(1)
l
# 첫번쨰 요소가 사라짐

[1, 1, 2, 2, 2, 3, 3, 3]

In [80]:
# 이해하지 않으셔도 됩니다.
# filter
def f(x):
    return x != 0

l = [1, 1, 1, 1, 2, 2, 2, 3, 3, 3]
list(filter(f,l))

[1, 1, 1, 1, 2, 2, 2, 3, 3, 3]

In [83]:
# reverse : 주의 해서 사용
ㅣ = [1, 2, 3, 4, 9, 5, 6, 7]
l.reverse()
l # 역정렬은 아닙니다. # 원본이 변합니다.(입력된 원본은 대부분 보존하려 노력합니다.)

# 역순은 단순히 순서를 뒤집는 것
# 역 정렬은 정렬의 역순임.

[3, 3, 3, 2, 2, 2, 1, 1, 1, 1]

In [84]:
ㅣ = [1, 2, 3, 4, 9, 5, 6, 7]
list(reversed(l)) # reversed는 원본을 변경하지 않습니다.

[1, 1, 1, 1, 2, 2, 2, 3, 3, 3]

In [86]:
i# reverse : 주의 해서 사용
ㅣ = [1, 2, 3, 4, 9, 5, 6, 7]
l.sort()
l
# 원본을 바꾸는 정렬

[1, 1, 1, 1, 2, 2, 2, 3, 3, 3]

In [88]:
i# reverse : 주의 해서 사용
ㅣ = [1, 2, 3, 4, 9, 5, 6, 7]
l.sort()
l.reverse()
l
# 원본을 바꾸는 역정렬

[3, 3, 3, 2, 2, 2, 1, 1, 1, 1]

In [90]:
# sort, sorted, reverse, reverseld 알고리즘 문제에서도 1개 문제는 거의 나온다.
# 옵션 값은 하지 않습니다.
# 옵션 값을 하지 않은 이유 : 함수까지는 배우셔야 좀 더 고급 문법이 가능합니다.

In [91]:
# 어떻게 사용되는지만 체크!
s = [[100, 87, 91, '이호준'], [56, 38, 89, '이준호'], [33, 86, 100, '홍길동']]

def f(x):
    return x[0]

sorted(s, key = f, reverse = True)

[[100, 87, 91, '이호준'], [56, 38, 89, '이준호'], [33, 86, 100, '홍길동']]

In [93]:
# 어떻게 사용되는지만 체크!
s = [[100, 87, 91, '이호준'], [56, 38, 89, '이준호'], [33, 86, 100, '홍길동']]

def f(x):
    return x[0] + x[1] + x[2]

sorted(s, key = f, reverse = True)

[[100, 87, 91, '이호준'], [33, 86, 100, '홍길동'], [56, 38, 89, '이준호']]

# 튜플

* 순서가 있는 자료형입니다.(인덱싱, 슬라이싱)
* 참조 변경 불가 입니다.(값이 변경이 불가하다고 얘기하면 이것은 틀린 얘기입니다.)

In [94]:
t = (10, 20, 30) # 소괄호

In [96]:
t[0]

10

In [97]:
t[0] = 1000

TypeError: 'tuple' object does not support item assignment

In [99]:
# 왜 이런 자료형이 필요?
# *권한과 변경불가(시큐어 코딩), 형태 고정인 자료(딕셔너리와 같은 것)
# *내부자 소행인 경우가 가장 많습니다.(사회공학적 해킹)

# 2번째 변경이 불가능한데 왜 '값이 변경이 불가하다고 얘기하면 틀린이야기라고 할까요?
# * 튜플 자체는 변경 불가능(immutable)입니다. 이는 튜플의 길이나 튜플 내의 요소 위치를 변경할 수 없음을 의미합니다. 한 번 생성된 튜플은 새로운 요소를 추가하거나, 기존 요소를 삭제하거나, 요소의 순서를 변경할 수 없습니다.
# * 그러나 튜플의 각 요소가 가리키는 값은 변경 가능할 수 있습니다. 튜플의 요소가 변경 가능한 객체(예: 리스트)를 참조하는 경우, 해당 객체의 내용은 변경될 수 있습니다. 이는 튜플의 구조는 불변이지만,
# * 튜플이 참조하는 객체의 내용은 변경 가능할 수 있다는 것을 의미합니다.

a = [10, 20, 30]
b = (a, 100, 200)
b

([10, 20, 30], 100, 200)

In [100]:
{'one': 1, 'two': 2}.items() # 길이는 가변 형태는 고정
t = (10, 20, 30)
dir(t)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [102]:
t.count(10) # 10의 갯수를 반환
t.index(10) # 10의 위치를 반환

0

In [ ]:
# tuple(순환 가능한 객체)
# list(순히 가능한 객체)

tuple('hello world')
list('list')

# 딕셔너리

* python 3.6 버전 이상은 순서가 보장됩니다.
* 실무에서 사용하는 python 버전은 생각보다 낮습니다. 이점 주의
* 'key : value' 쌍으로 이뤄져 있습니다.
* 딕셔너리 데이터 검색은 매우 빠릅니다.
* 딕셔너리 사용은 주의를 요합니다. 딕셔너리는 key가 없는 것을 호출하면 error가 납니다.

In [104]:
d = {'one': '하나', 'two': '둘'}
d['one']

'하나'

In [106]:
d.get('three') # get 메서드를 사용하시길 권합니다~

In [107]:
d.get('three', '없는 값입니다!')

'없는 값입니다!'

In [108]:
def f(x):
    return {
            0: '일요일',
            1: '월요일',
            2: '화요일',
            3: '수요일',
            4: '목요일',
            5: '금요일',
            6: '토요일',
        }.get(x, '요일없음')

f(3)

'수요일'

In [110]:
x = 3



{
            0: '일요일',
            1: '월요일',
            2: '화요일',
            3: '수요일',
            4: '목요일',
            5: '금요일',
            6: '토요일',
        }.get(x, '요일없음')

'수요일'

In [112]:
type(d)
dir(d)

['__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__ror__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [113]:
# 실제로 이와 같은 key : value의 쌍을 게시물 저장하는 형태 등으로 사용합니다.

게시물1 = {
    'title': "파이썬이 이렇게 어려울 재만이야?",
    'contents': '파이썬은 웃기네요',
    'author': '이규성',
    'image': '/hojun/2024/1/5/python.jpg'

}

In [115]:
d = {'one': '하나', 'two': '둘'}
dd = d

id(dd), id(d)
dd is d

d['one'] = 'python'
d['two'] = 'html'

dd

{'one': 'python', 'two': 'html'}

In [116]:
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values'

'values'

In [117]:
d = {'one': '하나', 'two': '둘'}
dd = d.copy()

d['one'] = 'python'
d['two'] = 'html'

dd

{'one': '하나', 'two': '둘'}

In [120]:
# 자주 사용 안해요
('one', 'two', 'three')
dict.fromkeys(d)
dict.fromkeys(d, 'hello world')

{'one': 'hello world', 'two': 'hello world'}

In [121]:
d = {'one', 'two', 'three'}
d.get('one')
d.get('three', '값 없음!')

AttributeError: 'set' object has no attribute 'get'

In [122]:
d = {'one': '하나', 'two': '둘'}
d.items()

dict_items([('one', '하나'), ('two', '둘')])

In [123]:
# d = {'one': '하나', 'two': '둘'}
# d.items()[0]
# d.items()[1:]

TypeError: 'dict_items' object is not subscriptable

In [124]:
a, b = d.items()
a
b

('two', '둘')

In [125]:
a, b = [10, 20]
a

10

In [127]:
for i,j in d.items():
    print(i,j)

one 하나
two 둘

In [128]:
d.keys()
d.values()

dict_values(['하나', '둘'])

In [130]:
d = {'one': '하나', 'two': '둘'}
d.setdefault('one')
d.setdefault('two')
d.setdefault('four', 4) # 있으면 그 값을  출력하고, 없으면 그 값을 d에 삽입하고 4를 출력해줘!

4

In [131]:
d = {'one': '하나', 'two': '둘'}
d.pop('one')
d

{'two': '둘'}

In [132]:
d = {'one': '하나', 'two': '둘'}
d.pop() # error
d.pop('three') #error
d

TypeError: pop expected at least 1 argument, got 0

In [133]:
d = {'one': '하나', 'two': '둘'}
d.popitem() # 없는 코드를 많이 보게 되실겁니다.

('two', '둘')

In [135]:
d = {'one': '하나', 'two': '둘'}
d.update({'one': 'python', 'three': 'hello'}) # one은 수정이 되었습니다
d

{'one': 'python', 'two': '둘', 'three': 'hello'}

In [137]:
# 신규문법!!(3.9)
d = {'one': '하나', 'two': '둘'}
dd = {'three': '셋'}

# d + dd
d | dd # 책사도 잘안나옴

{'one': '하나', 'two': '둘', 'three': '셋'}

In [138]:
d = {'one': '하나', 'two': '둘'}
dd = {'one': 'python', 'three': '셋'}
d | dd

{'one': 'python', 'two': '둘', 'three': '셋'}

# 셋(set)

* 중복을 허락하지 않는 자료입니다.
* 순서가 없는 자료형입니다.
* 집합(합집합,차집합,교집합)

In [145]:
s = {1, 2, 3, 4, 5}
ss = {3, 4, 5, 6, 7}

# s + ss # 에러
s | ss # 합집합
s - ss # 차집합
s & ss # 교집합

s.add(10)
s

{1, 2, 3, 4, 5, 10}

In [146]:
# iter라는 애가 있어야 순회가능
type(s)
dir(s)

# pop() # 랜덤한 값 반환

['__and__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

In [147]:
s.difference(ss) # 차집합

{1, 2, 10}

In [148]:
s.union(ss) # 합집합

{1, 2, 3, 4, 5, 6, 7, 10}

In [150]:
set('123123123') # 중복제거

{'1', '2', '3'}

In [153]:
# map은 너무나 중요해서 반복해서
# 중복제거한 값을 더하는 용도로 아래와 같이 사용하는 코드를
# keep
sum(map(int,set('123123123'))) # 중복제거하고 다 더하기

6

In [154]:
sum({10, 20, 30})

60

In [156]:
# sum(10, 20, 30) # error

In [157]:
# sum([10, 20], [20, 30], [30, 40])

In [158]:
# sum(순회가능한 객체, 초깃값)
sum([10, 20, 30], 100)

160

In [161]:
sum([[10, 20], [30, 40], [50, 60]], []) # 평탄화 작업
# [] + [10, 20] == [10, 20]
# [10, 20] + [30, 40] == []

[10, 20, 30, 40, 50, 60]

In [163]:
sum(sum([[10, 20], [30, 40], [50, 60]], []) )

210

# in

In [164]:
'h' in 'hello'

True

In [165]:
x = 10
x in [10, 20, 30, 40, 50]

True

In [167]:
x = [10, 20, 30]
x in [[10, 20, 40], [10, 20, 30], [50,40,20]] # 값만 물어보는 거임

True

In [168]:
s = {1, 2, 3}
1 not in s

False

In [169]:
user_id = ' '

user_id = user_id or '아이디 없음'
user_id

' '

In [175]:
# 1번 정답
'''
1.1
hello는 비어있지 않은 문자열 취급으로 알기때문에 True로 판정됩니다.
1도 True 판정이니 T and T 로서 1이 반환되어 1이 출력됩니다
1.2
'hello world'도 같은 판정으로 10 or T 형태가 됩니다
10이 반환되어 10이 출력됩니다.
'''
# 2번
d = {'one': 1, 'two': 2}
dd = {'three': 3}
# 새로배운 문법으로 키값을 더해봤습니다.
print(d  | dd)

# 3번

l = [1, [10, 20], [3, [100, 200], 5]]
# 인덱스를 활용하여 원하는 숫자 추출
result3 = l[2][1][0]
print(result3)
# 4번

l_2 = [[1, 2], [3, 4]]
# 평탄화 작업
l_2 = sum(l_2, [])
# map과 sum을 활용하여 리스트안의 원소 더하기
result4 = sum(map(int, l_2))
print(result4)

# 5번

l = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# 짝수만 필터링
even_numbers = filter(lambda x: x % 2 == 0, l)

# 필터링된 짝수의 합 계산
result5 = sum(even_numbers)
print(result5)

{'one': 1, 'two': 2, 'three': 3}
100
10
30