# 논리연산

* 내가 휴먼고객에 대해서 데이터를 받아서 가망고객

휴먼고객 100,000명(DB) ->
1차. 20 ~ 40먼저 거르면 -> 4만명(-6만명) ->

2차. 10만원 이하를 사용한 고객 거르면 -> 2만명

In [ ]:
# and 두가지 조건이 모두 참일때만 True
# 예 5 > 3 and 4 > 3 -> True
# 하나라도  조건이 틀리면 False
# 값이 같더라도 ID가 달라서 False가 나올 수 있다

In [ ]:
for i in range(101):
    if i % 3 == 0 and i % 5 == 0:
        print(i)

0
15
30
45
60
75
90

In [ ]:
def test1():
    print("test1 함수 호출!")
    return False

def test2():
    print("test2 함수 호출!")
    return True

# 가장 많이 걸러지는 조건을 맨 앞에 두어야 리소스를 줄일 수 있다.

result = test1() and test2()
print(result) # 결과: False

test1 함수 호출!
False

In [ ]:
0 and 1

0

In [ ]:
# x = 5
# y = 2
# z = 10

# x += y * z
# x2 = x2 + (y * z)
# x3 = y * z
# print(x)
# print(x2)
# print(x3)

In [ ]:
 a = 10
 a -= 5
 print(a)

5

In [ ]:
 a = 3
 a *= 2 + 4
 print(a)

18

In [ ]:
# 기본 예시
a = [1,2,3,4]
b = [1,2,3,4 ]
c = 'hello world'

print(1 in a)

True

In [ ]:
print(0 not in b) # 출력 : True

True

In [ ]:
print([2] in b)

False

In [ ]:
# 자료형태를 잘 파악하고 In을 사용해야한다.
a_1 = [1, [2], 3, 4]

In [ ]:
print([2] in a_1)

True

In [ ]:
print('h' in c)
print('hello' in c)

True
True

# 연산자 순서

In [ ]:
-2 ** 2

-4

In [ ]:
True * True and True + False # 출력: 1 , ((True * True) and (True + False))

1

In [ ]:
# 복합 할당 연산자가 가장 나중입니다!
a = 10
a *= 10 + 100
a # 출력: 1100

1100

In [ ]:
 result = 10 / 2 * 4 - 3
 print(result)

17.0