In [ ]:
# int로 형변환

num = '123'
print(type(num))

num = int(num)
print(type(num))

<class 'str'>
<class 'int'>

In [ ]:
# 위 예제는 문자열을 정수형으로 바꾸고 있습니다. 다만 아래와 같은 코드는 가능하지않습니다.

'''
s = 'hello'
print(type(s))

s = int(s)
print(type(s))
'''

"\ns = 'hello'\nprint(type(s))\n\ns = int(s) \nprint(type(s))\n"

In [ ]:
# float -> int로 변환

f = 3.14159
number = int(f)
print(number) # 출력: 3

3

In [ ]:
# bool -> int로 형변환

true_int = int(True)
false_int = int(False)

print(true_int)
print(false_int)

# None은 int형으로 형변환 하면 0이라고 오해하는 사람이 많지만 None은 int형으로 변환이 가능하지 않습니다.

1
0

# String으로 형변환

In [ ]:
# int와 float -> str로 변환

n = 123
print(type(n))

m = 123.4
print(type(m))

n = str(n)
print(type(n))

m = str(m)
print(type(m))

# 주의해야 할 점. int형은 str형으로 변환했다가 다시 int형으로 변경하는 것이 문제가 되지 않지만 float형은 str으로 변환했다가

<class 'int'>
<class 'float'>
<class 'str'>
<class 'str'>

# bool형으로 형변환

In [ ]:
print("bool('test'):", bool('test'))
print("bool(' '):", bool(' '))
print("bool(''):", bool(''))
print("bool(100):", bool(100))
print("bool(1):", bool(1))
print("bool(0):", bool(0))
print("bool(-1):", bool(-1))
print("bool(None):", bool(None))
print("bool([]):", bool([]))
print("bool(tuple()):", bool(tuple()))
print("bool({}):", bool({}))
print("bool(set()):", bool(set()))

# 빈 자료형의 경우에는 Fasle로 평가된다는 점을 기억
# 2번째 예시인 `' '`는 공백이 존재하기 떄문에 빈자료형이 아닙니다.

bool('test'): True
bool(' '): True
bool(''): False
bool(100): True
bool(1): True
bool(0): False
bool(-1): True
bool(None): False
bool([]): False
bool(tuple()): False
bool({}): False
bool(set()): False

# float형으로 형변환

In [ ]:
# 일반 float형변환

s = 10
print(float(s))

s = '10'
print(float(s))

s = '3.14'
print(float(s))

10.0
10.0
3.14

In [ ]:
# 특수 floaat형변환

infinity = float('inf')
neg_infinity = float('-inf')
not_a_number = float('nan')

In [ ]:
# 묵시적 형변환
    # 다음과 같이 정수와 실수의 나눗셈 같은 경우 항상 float를 반환합니다.

10/1 # 출력: 10.0

10.0

# list형으로 형변환

In [ ]:
# str -> list로 변환

In [ ]:
s = '10'
print(list(s))

name = 'licat'
print(list(name))

['1', '0']
['l', 'i', 'c', 'a', 't']

In [ ]:
# int -> list로 변환

n = 10
# print(list(n)) 에러

# tuple 형으로 형변환

In [ ]:
# tuple형으로 형변환
    # 튜플의 특성은 리스트와 비슷합니다. 다만 값의 변경이 불가 합니다ㅐ.

name = 'licat'
tuple(name)

('l', 'i', 'c', 'a', 't')

# dict형으로 형변환

In [ ]:
# 딕셔너리 자료형은 key와 value로 이뤄진 쌍입니다.
# 따라서 쌍이 없는 일반 문자열은 변환이 되지 않습니다.

# name = 'licat'
# dict(name)

# 아래와 같이 쌍을 맞춰줘야 합니다.

data = [('name','licat'),('age',10)]
d = dict(data)
d

{'name': 'licat', 'age': 10}

# set형으로 형변환

In [ ]:
# set은 중복을 허락하지 않는 자료형입니다.
# 이 특성을 사용하여 중복을 제거 할 때 많이 사용됩니다.

s = 'weniv CEO licat'
print(set(s)) # 중복을 허락하지 않고 순서가 없습니다.
print(len(set(s))) #중복을 제거한 상태로의 길이를 알려줍니다.
print(len(s))

{'i', 'O', 't', 'w', ' ', 'l', 'a', 'C', 'n', 'e', 'c', 'v', 'E'}
13
15

# 나아가기

In [ ]:
# 문자열에 닷(`.`)이 포함되어 있으면 정수로 변환 X

'''
x = 1.0
x = str(x)
print(int(x))
'''

'\nx = 1.0\nx = str(x)\nprint(int(x))\n'

In [ ]:
# 따라서 이런코드는 아래와 같이 조건을 만들어 형변환
# float형으로 변환후 int로 변환해주면 된다.

x = 1.0
x = str(x)
if x.find('.') == -1:
    print(int(x))
else:
    print(float(x))

x = 1.0
x = str(x)
int(float(x))

1.0

1

In [ ]:
print(list(map(int, ['10', '20', '30']))) # 출력: [10, 20, 30]
list(map(int, '12345')) # 출력: [1, 2, 3, 4, 5]

[10, 20, 30]

[1, 2, 3, 4, 5]