# 1.변수란?

* 1.1 변수는 가리키는 것

* 1.2 변수의 생성

In [1]:
# 변수의 생성

age = 30
name = "Jun"

이 예제이서 'age'라는 변수에 30이라는 값을,'name'이라는 변수에 "Jun"이라는 값을 할당했습니다. 이는 아래와 같은 화살표가 그려지는 것입니다.

![woaks](https://paullabworkspace.notion.site/image/https%3A%2F%2Fprod-files-secure.s3.us-west-2.amazonaws.com%2F579fe283-28aa-489d-ae65-d683304becfc%2F5b049766-f054-412f-b02e-9cc4e9786e42%2FUntitled.png?table=block&id=e6e2342d-1ad9-4e40-a2f2-a0ea00868f1f&spaceId=579fe283-28aa-489d-ae65-d683304becfc&width=580&userId=&cache=v2)

# 1.3 변수가 가리키는 값

In [2]:
x = 10
y = x
z = y

![이미지1](https://paullabworkspace.notion.site/image/https%3A%2F%2Fprod-files-secure.s3.us-west-2.amazonaws.com%2F579fe283-28aa-489d-ae65-d683304becfc%2F50adc7cb-7d45-49b4-89ca-fb54b6dc0d6d%2FUntitled.png?table=block&id=d4acd72c-4ed4-444b-80e6-52e88731da9b&spaceId=579fe283-28aa-489d-ae65-d683304becfc&width=1060&userId=&cache=v2)

혹시 여러분이 위와 같이 변수가 만들어졌다고 생각하신다면 오해를 하고 있는 것 입니다. 만약 위와 같은 화살표였다면 x가 가리키고 있는 값이 변했을 떄 y와 z도 값이 변해야겠죠.

따라서 위와 같은 그림은 아래와 같이 그려지는 것이 맞습니다.

![이미지2](https://paullabworkspace.notion.site/image/https%3A%2F%2Fprod-files-secure.s3.us-west-2.amazonaws.com%2F579fe283-28aa-489d-ae65-d683304becfc%2F3eba8e05-b4f4-4b86-8bbe-346141ac5a34%2FUntitled.png?table=block&id=28247ee8-fe78-4413-9be7-a105bee5bf8e&spaceId=579fe283-28aa-489d-ae65-d683304becfc&width=480&userId=&cache=v2)

# 2. 변수 이름의 규칙

2.1 변수 이름 짓기

In [4]:
#1 변수의 속성 확인

x = 10
print(type(x))
print(dir(x))

y = "10"
print(type(y))
print(dir(y))

<class 'int'>
['__abs__', '__add__', '__and__', '__bool__', '__ceil__', '__class__', '__delattr__', '__dir__', '__divmod__', '__doc__', '__eq__', '__float__', '__floor__', '__floordiv__', '__format__', '__ge__', '__getattribute__', '__getnewargs__', '__gt__', '__hash__', '__index__', '__init__', '__init_subclass__', '__int__', '__invert__', '__le__', '__lshift__', '__lt__', '__mod__', '__mul__', '__ne__', '__neg__', '__new__', '__or__', '__pos__', '__pow__', '__radd__', '__rand__', '__rdivmod__', '__reduce__', '__reduce_ex__', '__repr__', '__rfloordiv__', '__rlshift__', '__rmod__', '__rmul__', '__ror__', '__round__', '__rpow__', '__rrshift__', '__rshift__', '__rsub__', '__rtruediv__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__truediv__', '__trunc__', '__xor__', 'as_integer_ratio', 'bit_count', 'bit_length', 'conjugate', 'denominator', 'from_bytes', 'imag', 'numerator', 'real', 'to_bytes']
<class 'str'>
['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'removeprefix', 'removesuffix', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

In [5]:
# 변수 재할당

x = 10
print(x)

x = 20
print(x)

10
20

In [9]:
# 변수 삭제

x = 10
print(x)

del x

10

# 변수의 여러가지 타입

i- 숫자형: 숫자를 다룹니다.
    - 정수형(int): 양수와 0, 음수를 저장할 수 있습니다.
    - 실수형(float): 소숫점을 표현할 수 있습니다.
    - 복소수형(complex): 실수부와 허수부로 나누어 수를 표현할 수 있습니다.
- 논리 자료형(bool) : 논리 자료형 True, False을 다룹니다.
- 시퀀스: 순서가 있는 자료형입니다.
    - 문자열 자료형(str): 문자열을 저장합니다.
    - 리스트 자료형(list): 다른 자료형을 담을 수 있는 변경 가능한 자료형입니다.
    - 튜플 자료형(tuple): 다른 자료형을 담을 수 있는 변경 불가능한 자료형입니다.
- 컬렉션 혹은 컨테이너 자료형: 다른 자료형을 담을 수 있는 자료형입니다.
    - 리스트 자료형(list): 다른 자료형을 담을 수 있는 변경 가능한 자료형입니다.
    - 튜플 자료형(tuple): 다른 자료형을 담을 수 있는 변경 불가능한 자료형입니다.
    - 사전 자료형 또는 딕셔너리 자료형(dict): key와 value의 쌍으로 묶여 있는 key의 중복을 허락하지 않는 자료형입니다.
    - 집합 자료형 또는 셋 자료형(set): 값에 중복을 허락하지 않는 자료형입니다.
- None 자료형: None, 아무것도 없음을 명시하는 자료형입니다.

In [14]:
# 나눗셈 예제

x = 20
y = 3
result = x / y
print(result) # 정수로 출력되지 않음


x = 20
y = 3
result = x / y
print(int(result)) # 정수로 출력

6.666666666666667
6

In [15]:
# id(x), id(y)에 대해서
# -5 ~ 256

x = 256
y = 256

print(x,y)

256 256

In [16]:
print(x == y)

True

In [18]:
print(id(x), id(y))

133891164414160 133891164414160

In [19]:
# 무한대

x_inf = float("inf")

In [22]:
10.1 + 10.2

20.299999999999997

In [23]:
x_test1 = 0.1
y_test2 = 0.2

print(x_test1 + y_test2 )

0.30000000000000004

In [25]:
from decimal import Decimal

# 소수점 정확도를 위해 Decimal 모듈 사용
num1 = Decimal('10.1')
num2 = Decimal('10.2')

# Decimal을 이용한 연산
result = num1 + num2

result

Decimal('20.3')

In [27]:
# 제곱형태

print(2e3) # 지수표현, float형
print(2E3)

print(20000000000000000000)

print(2 * (10 ** 3)) # int 형

2000.0
2000.0
20000000000000000000
2000

# 복소수

In [ ]:
# 복소수 출력

x1 = 3 + 4j
x2 = complex(3,4)

print(x1, )