# 산술연산자

In [ ]:
# 덧셈

In [ ]:
# 숫자 덧셈

# 정수와 정수의 덧셈

result = 5 + 3
print(result) # 결과 : 8

8

In [ ]:
# 정수와 실수의 덧셈

result = 3 + 2.5
print(result) # 결과 5.5

5.5

In [ ]:
# 리스트와 튜플의 덧셈(연결)

list1 = [1,2,3]
list2 = [4,5,6]
combined_list = list1 + list2
print(combined_list) #[1,2,3,4,5,6]

[1, 2, 3, 4, 5, 6]

In [ ]:
tuple1 = (1,2,3)
tuple2 = (4,5,6)
combined_tuple = tuple1 + tuple2
print(combined_tuple) # (1,2,3,4,5,)

(1, 2, 3, 4, 5, 6)

In [ ]:
# 나아가기
'''
서로 다른 자료형 간의 덧셈은 지원되지 않습니다.
예를 들어, 문자열과 숫자를 직접 더할 수 없습니다.
'''

# result = "Hello" + 5

'''
또한 덧셈이 지원되지 않는 자료형도있습니다.
딕셔너리와 셋이 그러합니다.
'''

# {'one': 1} + {'two':2} error
# {5} + {6} error

'''
여기서 덧셈이 지원되지 않기에 뺄셈도 지원이 안될 것이라 생각하면 안됩니다.
셋의 경우에는 뺄셈을 차집합으로 지원합니다.
'''
{3,4,5} - {4} # 결과: {3,5}

{3, 5}

In [ ]:
# 뺄셈

In [ ]:
# 숫자 뺼셈

result = 7 - 4 # 정수와 정수의 뺄셈
print(result)

result = 10 - 3.5 # 정수와 실수의 뺼셈
print(result)

result = 5 - (-3) # 음수와 뺄셈
print(result) # 결과 : 8

3
6.5
8

In [ ]:
# set의 뺼셈

{3, 4, 5} - {4} # 결과 : {3,5}

'''
앞에 언급된 것처럼 set 자료형에서는 뺄셈을 차집합으로 연산합니다.
다만 덧셈이 합집합은 아닙니다. 이는 아래 메서드와 동일한 결과를 가집니다.
'''

{3, 4, 5}.difference({4}) # 결과 : {3, 5}

{3, 5}

In [ ]:
# 나아가기

'''
서로 다른 자료형 간의 뺄셈은 지원되지 않습니다.
예를 들어,문자열에서 숫자를 뺄 수 없습니다.
'''

# result = "Hello" - 3 # error

'''
파이썬에서 문자열,리스트,튜플 등에서 뺄셈 연산자를 직접 사용하는 것은 지원되지 않습니다.
이러한 데이터 유형에서 항목을 제거하려면 메서드나 슬라이싱 등 다른 방법을 사용해야 합니다.

뺄셈 기호인 대쉬(-)는 음의 정수를 표현하는 것에도 사용하니 표현에 유의해주세요. 예를 들어 아래와 같은 표현은 유효한
표현입니다.
'''

print(7 -4)
print(7 -- 4)
print(7 --- 4)

3
11
3

In [ ]:
# 곱셉

In [ ]:
# 숫자의 곱셈

result = 3 * 4 # 정수와 정수의 곱셈
print(result) # 결과: 12

12

In [ ]:
result = 5 * 2.5 # 정수와 실수의 곱셈:
print(result) # 결과: 12.5

12.5

In [ ]:
# 문자열과 곱셈
'''
문자열과 정수를 곱하면 해당 문자열이 정수만큼 반복됩니다.
다만 문자열과 실수를 곱하는 것은 지원되지 않습니다.
'''

result = "Ha" * 3
print(result) # 출력: "HaHaHa"

HaHaHa

In [ ]:
# 리스트와 곱셈

'''
리스트와 정수를 곱하면 리스트내의 요소들이 정수 만큼 반복됩니다.
다만 리스트와 실수를 곱하는것,리스트와 리스트를 곱하는 것은 지원되지않습니다.
'''

result = [1, 2, 3] * 2
print(result)

[1, 2, 3, 1, 2, 3]

In [ ]:
# 나눗셈

'''
나눗셈 연산자(/,//)는 두 수를 나누는 연산자입니다.
첫번쨰 나눗셈 연산자는 항상 float 형식으로 반환되며,
두번째 나눗셈 연산자는 항상 int형으로 반환됩니다. //는 내림입니다.
'''

a = 10
b = 2
print(a / b)
print(a // b)

5.0
5

In [ ]:
a = -5
b = 2
print(a / b)
print(a // b)

-2.5
-3

In [ ]:
# 나아가기

'''
나누기의 경우 0으로 나누면 아래와 같은 에러가 발생합니다.
이는 수학적으로 0으로 나누는 것이 정의되지 않았기 때문입니다.
'''

z = 0
# x / z #ZeroDivisionError 발생

'''
또한 float형으로 반환되는 경우 아래처럼 소숫점 2번째 자리까지
구문을 많이 사용합니다.
'''
a = 10
b = 3
divide = a / b
print(f'{a} % {b} = {divide:.2f}')

10 % 3 = 3.33

In [ ]:
# 나머지연산자

'''
나머지 연산자(%)는 한 숫자를 다른 숫자로 나누었을 때의 나머지를 반환하는 연산자입니다.
이 연산자는 특히 비교 연산자와 함께 사용하여 값이 나누어 떨어지는지 확인할 때 많이 사용합니다.
'''

10 % 3
# 10을 3으로 나누면 몫이 3이고 나머지가 1입니다. 따라서 1을 출력합니다.

1

In [ ]:
# 활용 예시

10 % 2 == 0  #홀수, 짝수 판별
365 % 10 == 0 # 1의 자리 반환


'''
위와 같이 나머지 연산은 홀수와 짝수를 판별하거나 특정 자리 수를 반환하거나,
특정 주기마다 코드를 실행시킬 경우 등에 주로 사용합니다.
'''

'\n위와 같이 나머지 연산은 홀수와 짝수를 판별하거나 특정 자리 수를 반환하거나,\n특정 주기마다 코드를 실행시킬 경우 등에 주로 사용합니다.\n'

In [ ]:
# 나아가기

# 10 % 0 # ZeroDivisionError 발생

'''
나머지 연산과 마찬가지로 0으로 나누려 하면 에러를 발생시킵니다.
나머지 연산은 실수에서도 사용 할 수있습니다. 하지만 부동 소숫점 문제가 발생될 수있으므로 주의
'''

10 % 3.3

0.10000000000000053

In [ ]:
# 제곱 연산자

'''
제곱 연산자(**)는 특정 숫자를 다른 숫자의 제곱만큼 곱하는 연산자입니다.
'''
10 ** 3

1000

In [ ]:
4 ** 0.5
# 위 연산 결과는 4의 1/2승과 같습니다.
# 제곱근을 구하는 것이고,루트를 씌운 결과와 같습니다.

2.0