# 함수는 이름은 변수다

In [ ]:
def hello(): # 펑션의 인스턴스
    '''

    Doc String

    arg :

    return:

    주석은 여기 답니다.
    '''
    pass

In [ ]:
print(type(hello) # 함수도 class입니다!?

<class 'function'>

In [ ]:
a = 10
# a는 무엇이죠?
# a는 int에 인스턴스

In [ ]:
l = [a, a, a]
l[2]

In [ ]:
print('hello world') # built in funtion

hello world

In [ ]:
l = [print, print, print] #함수 이름은 변수다.
l[2]('hello world')

hello world

In [ ]:
hojun = print
hojun('hello world')

hello world

In [ ]:
id(hojun), id(print)

(140172781901104, 140172781901104)

In [ ]:
print = 10

In [ ]:
print('hello world')

TypeError: 'int' object is not callable

In [ ]:
hojun('hello')

hello

In [ ]:
print = hojun

NameError: name 'hojun' is not defined

In [ ]:
id(print)

138796572988720

# 람다의 응용.feat 삼향연산자

## top3 -1 map에서사용

In [ ]:
add = lambda x, y: x + y # 람다는 인풋 아웃풋

In [ ]:
# 코드가 이해가 안된다 => 이해할려고 노력하지마
# 예제를 30개 정도 만들어보자
# Django 어려워요? 30개 만들어보세요.
# Lambda 어려우면 30개 만들어보세요.

# lambda + 3향 연산자 많이 사용합니다.

x = 10
y = True if x % 2 == 0 else False

y

True

In [ ]:
# 재사용 할 경우 이렇게 함수로
def 제곱(x):
    return x ** 2

list(map(제곱, [1, 2, 3, 4]))

[1, 4, 9, 16]

In [ ]:
# 재사용 하지 않을 것이면 이렇게 lambda로!
# lambda가 실무에서 좀 더 많이 사용됩니다.
# 수식이 복잡해지면 재사용과 별개로 lambda로 했을 경우 가독성이 떨어지는 경우도 발생합니다.
# 이럴떄에는 함수로 빼기도 합니다.
list(map(lambda x: x **2,[1, 2, 3, 4]))

[1, 4, 9, 16]

In [ ]:
list(map(lambda x: True if x % 2 == 0 else False,[1, 2, 3, 4])) # 마스킹,마커,거름망 True False,ip대역에서 사용합니다.

[False, True, False, True]

In [ ]:
# 알고리즘 문제에서
# [True, False, False, False, True]
# 에라토스테네스의 체(얼마나 마스킹이 유용한지 알 수 있죠.)

# 필터링이라고 생각하면 된다.

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29]

In [ ]:
def eratosthenes_sieve_lambda(n):
    """ 에라토스테네스의 체를 람다와 3항 연산자를 사용하여 구현 """
    return [] if n < 2 else [p for p in range(2, n+1) if not [x for x in range(2, int(p**0.5) + 1) if p % x == 0]]

# 함수 테스트: 30까지의 소수 찾기
eratosthenes_sieve_lambda(30)

# for를 n제곱 돌아야한다.

# 101이 소수인가?

# 지금은 얼마나 마스킹한 값이 효율적인지를 만씀드리기 위한 코드일 뿐입니다.

for i in range(2, 31):
    if 30 % i == 0:
        print('소수아님')
        break
else: # else 대신 than으로 하자라고 했지만 -> else가이김
    print('소수임')

# 3항 연산자와 람다 함수를 사용하여 주어진 코드를 재작성
is_prime = lambda x: "소수임" if all(x % i != 0 for i in range(2, int(x**0.5) + 1)) and x > 1 else "소수아님"

# 30이 소수인지 확인
is_prime(30)

소수아님

In [ ]:
[True, True, True,True,True,True,True,True,True]

In [ ]:
# list(filter()) # True인 경우만 가져옴
list(filter(lambda x: x % 2 == 0,range(100)))

list(filter(lambda x: x % 3 == 0,range(100)))

[0,
 3,
 6,
 9,
 12,
 15,
 18,
 21,
 24,
 27,
 30,
 33,
 36,
 39,
 42,
 45,
 48,
 51,
 54,
 57,
 60,
 63,
 66,
 69,
 72,
 75,
 78,
 81,
 84,
 87,
 90,
 93,
 96,
 99]

In [ ]:
list(filter(lambda x: x >= 50 and x < 80,(range(100))))

[50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79]

In [ ]:
list(filter(lambda x: True if x % 3 == 0 or x % 5 -- 0 else False,range(100)))

[0,
 1,
 2,
 3,
 4,
 6,
 7,
 8,
 9,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 21,
 22,
 23,
 24,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 36,
 37,
 38,
 39,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 51,
 52,
 53,
 54,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 66,
 67,
 68,
 69,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 81,
 82,
 83,
 84,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 96,
 97,
 98,
 99]

In [ ]:
# list(filter(lambda x: x % 2 == 0, range(100)))
list(filter(lambda x: x % 2, range(100))) # 홀수를!?

# [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
# x == 0일때 => lambda x: x % 2 => 0 => False로 평가!
# x == 1일때 => lambda x: x % 2 => 1 => True로 평가!
# x == 2일때 => lambda x: x % 2 => 0
# x == 3일때 => lambda x: x % 2 => 1
# x == 4일때 => lambda x: x % 2 => 0
# x == 5일때 => lambda x: x % 2 => 1
# x == 6일때 => lambda x: x % 2 => 0

[1,
 3,
 5,
 7,
 9,
 11,
 13,
 15,
 17,
 19,
 21,
 23,
 25,
 27,
 29,
 31,
 33,
 35,
 37,
 39,
 41,
 43,
 45,
 47,
 49,
 51,
 53,
 55,
 57,
 59,
 61,
 63,
 65,
 67,
 69,
 71,
 73,
 75,
 77,
 79,
 81,
 83,
 85,
 87,
 89,
 91,
 93,
 95,
 97,
 99]

## sorted에서 사용

In [ ]:
l = [10, 20 , 5 ,4 ,22 ,32, 5, 9, 11]
l.sort() #sort를 자주사용하진 않습니다. 원본을 변경시키기 때문입니다.
l

[4, 5, 5, 9, 10, 11, 20, 22, 32]

In [ ]:
l = [10, 20 ,5, 4, 22, 32, 5, 9, 11]
sorted(l) # sorted의 return값이 정렬된 값이죠!
l # l은 원본 그대로

[10, 20, 5, 4, 22, 32, 5, 9, 11]

In [ ]:
sorted() # key, reverse 옵션을 정말 많이 사용합니다.
# 알고리즘 문제에서 단골문제이고, sorted 문제는 1문제는 거의 출제된다고 보시면 됩니다.
# 최댓값, 최솟값

TypeError: sorted expected 1 argument, got 0

In [ ]:
# 아래와 같은 형식으로 반별 점수가 주어진다고 하겠습니다.

반별점수 = [
    ['홍길동', 30, 55, 22],
    ['홍춘향', 55, 60, 73],
    ['이철수', 32, 65, 68],
    ['이호준', 92, 11, 95],
]

In [ ]:
sorted(반별점수) # 값이나 키값 0번째 값 기준으로 정렬

[['이철수', 32, 65, 68],
 ['이호준', 92, 11, 95],
 ['홍길동', 30, 55, 22],
 ['홍춘향', 55, 60, 73]]

In [ ]:
def 함수(x):
    return x[3]

# sorted(반별점수, key = 함수 ) # 가장 중요한 것은 이 key함수의 return값대로 정렬한다!
sorted(반별점수, key = lambda x: x[3] )

[['홍길동', 30, 55, 22],
 ['이철수', 32, 65, 68],
 ['홍춘향', 55, 60, 73],
 ['이호준', 92, 11, 95]]

In [ ]:
sorted(반별점수, key = lambda x: x[2]) # 영어 점수 순서대로

[['이호준', 92, 11, 95],
 ['홍길동', 30, 55, 22],
 ['홍춘향', 55, 60, 73],
 ['이철수', 32, 65, 68]]

In [ ]:
반별점수 = [['홍길동', 30, 55, 22],
 ['이철수', 32, 65, 68],
 ['홍춘향', 55, 60, 73],
 ['이호준', 92, 11, 95]]

# 문제: 국, 영, 수 평균 점수대로 출력해주세요!
# 정답:
sorted(반별점수, key=lambda x: x[1] + x[2] + x[3]) # 나눌 필요 없습니다.
sorted(반별점수, key=lambda x: x[1] + x[2] + x[3], reverse=True)
# 내림차순으로 정렬합니다!
# 평균 점수가 높은게 앞으로 옵니다.

[['이호준', 92, 11, 95],
 ['홍춘향', 55, 60, 73],
 ['이철수', 32, 65, 68],
 ['홍길동', 30, 55, 22]]

In [ ]:
# 문제가 살짝 어려워집니다.
# 동점자인 경우 수학점수를 우선순위로 두겠습니다!!!?
반별점수 = [
    ['홍길동', 50, 50, 50],
    ['이철수', 45, 50, 55],
    ['홍춘향', 60, 35, 75],
    ['이호준', 92, 11, 95]
]

sorted(반별점수, key=lambda x: x[1] + x[2] + x[3], reverse=True) # 철수가 수학 점수가 높은데 뒤에 있네요?
# 제 의도는 수학 점수가 높으니 앞에 두겠다는 얘기입니다.

# 1
# sorted(반별점수, key=lambda x: x[1] + x[2] + x[3], reverse=True)
# 반별점수 = [
#     ['홍길동', 50, 50, 50] => 50,
#     ['이철수', 45, 50, 55] => 50,
#     ['홍춘향', 60, 35, 75] => ??,
#     ['이호준', 92, 11, 95] => ??
# ]

# 2
# sorted(반별점수, key=lambda x: (x[1] + x[2] + x[3], x[3]), reverse=True)
# 반별점수 = [
#     ['홍길동', 50, 50, 50] => (50, 50),
#     ['이철수', 45, 50, 55] => (50, 55),
#     ['홍춘향', 60, 35, 75] => ??,
#     ['이호준', 92, 11, 95] => ??
# ]

sorted(반별점수, key=lambda x: (x[1] + x[2] + x[3], x[3]), reverse=True) # 철수랑 길동이 바뀌었습니다!

[['이호준', 92, 11, 95],
 ['홍춘향', 60, 35, 75],
 ['이철수', 45, 50, 55],
 ['홍길동', 50, 50, 50]]

In [ ]:
[
{
   '주소': '경기도 용인시',
   '우편번호': 321
},
{
   '주소': '경기도 수원시',
   '우편번호': 355
},
 {
   '주소': '제주특별자치도 제주시',
   '우편번호': 333
}
]

[{'주소': '경기도 용인시', '우편번호': 321},
 {'주소': '경기도 수원시', '우편번호': 355},
 {'주소': '제주특별자치도 제주시', '우편번호': 333}]

In [ ]:
우편번호 = [
    {
        '주소': '경기도 용인시',
        '우편번호': 321
    },
    {
        '주소': '경기도 수원시',
        '우편번호': 355
    },
    {
        '주소': '제주특별자치도 제주시',
        '우편번호': 333
    }
]

# sorted(우편번호) #error, 비교를 할 수 없다!?
sorted(우편번호, key=lambda x: x['우편번호'])

# 우편번호 = [
#     {
#         '주소': '경기도 용인시',
#         '우편번호': 321
#     }, => 321
#     {
#         '주소': '경기도 수원시',
#         '우편번호': 355
#     }, => 355
#     {
#         '주소': '제주특별자치도 제주시',
#         '우편번호': 333
#     } => 333
# ]

[{'주소': '경기도 용인시', '우편번호': 321},
 {'주소': '제주특별자치도 제주시', '우편번호': 333},
 {'주소': '경기도 수원시', '우편번호': 355}]

In [ ]:
# 직선에 있는 점 좌표
# 점과 점 사이가 가장 짧은 점의 쌍을 출력하세요

s = [1, 3, 4, 8, 12, 17, 20]

s[1:]

[3, 4, 8, 12, 17, 20]

In [ ]:
x = list(zip(s, s[1:]))
print(x)

In [ ]:
sorted(x, key = lambda x : x[1] - x[0])
sorted(x, key = lambda x : x[1] - x[0])[0]

(3, 4)

In [ ]:
# 이해를 하시진 마시고, 이해가 되시는 분들만 이해해주세요.
# 제가 자주 사용하는 코드입니다.

list(zip('hello', 'world'))

[('h', 'w'), ('e', 'o'), ('l', 'r'), ('l', 'l'), ('o', 'd')]

In [ ]:
# 예시1
list(enumerate(zip('hello', 'world')))

[(0, ('h', 'w')),
 (1, ('e', 'o')),
 (2, ('l', 'r')),
 (3, ('l', 'l')),
 (4, ('o', 'd'))]

In [ ]:
# 제너레이터를 만듭니다.

def gen():
    i = 1
    while True:
        yield i
        i += 1

list(zip(gen(),'hello', 'world'))

[(1, 'h', 'w'), (2, 'e', 'o'), (3, 'l', 'r'), (4, 'l', 'l'), (5, 'o', 'd')]

# built in function

![](https://cdn.discordapp.com/attachments/1173449925393121361/1194833702572806215/image.png?ex=65b1ca99&is=659f5599&hm=46004c8e8ea30d5f778deb3105e67550049ac4d80eb5a8e613cb7edae9f1f973&)

In [ ]:
chr(65) # 별표 0.1개

'A'

In [ ]:
ord('A') # 별표 0.1개

65

In [ ]:
max([10, 20, 30])

30

In [ ]:
sum([10, 20, 30])
sum([10, 20, 30], 100)
sum([[1, 2, 3], [4, 5, 6]], [])

[1, 2, 3, 4, 5, 6]

In [ ]:
sum([[1, 2, 3], [4, 5, 6]], [])

[] + [1, 2, 3] == [1, 2, 3]
[1, 2, 3] + [4, 5, 6] == [1, 2, 3, 4, 5, 6]

True

In [ ]:
# 다른 값이 출력될 수도 있다는 것을 기억해야 합니다.

a = 10
print(a) # a.__str__
a # a.__repr

10

10

In [ ]:
# 실제 Django에서 사용하는 코드
class Notice(): # 게시물 클래스
    '''
    게시물 클래스
    '''
    def __init__(self, title, contents):
        self.title = title
        self.contents = contents

    def __str__(self):
        return self.title

    def __repr__(self):
        return f'{self.titile}, {self.contents}'

게시물1 = Notice('파이썬 재밌당', '내가 알던 파이썬이 아니야...')
게시물1 = Notice('Django도 재밌당', '재만이를 잘 못해서 내가 할 수 있을까 생각이 들었는데..')
게시물1 = Notice('파이썬 재밌당', '내가 알던 파이썬이 아니야...')

In [ ]:
# print(게시물1)
# 게시물1
repr(게시물1)

AttributeError: 'Notice' object has no attribute 'titile'

In [ ]:
# 협업에서 3.6이상을 사용하면 참 다행입니다~~
# 예를 들어 서비스를 만든지 조금 오래된 'Y기업'등 다른 기업들은
# Django를 2.x, 1.x
# 실무에 갔을때 2.x 어느정도는 알고 있어야합니다.
# match같은 문법은 아직 사용하지못합니다. 2 ~ 3년 뒤에는 사용할 수있습니다.

In [ ]:
type(range(10)) # range라는 타입입니다.

range

In [ ]:
# # 2.x
# range(10)
# print(range(10))
# print(type(10))

# 문제 : range(100000000000000000) -> 메모리를 갯수만큼 한번에 생성을 해야합니다.
# 이것을 개선하자는 얘기가 끊잉없이 나왔습니다.
# 2.x에서 나온 것이 xrange()입니다. 이것은 특이하게 현재값과 다음값만을 가지고 있어요
# 메모리공간은 2칸(실제로는 더 잡아먹습니다.)이 되서 효율적이게 바뀐것입니다.

# 3.x에서 range(10000000)
# class range로 바뀌게 된 것입니다.
# for i range(1000) # 1000개의 메모리를 할당하는 것이 아닙니다.
# pass

In [ ]:
list(range(1000)) # 메모리 큰 부하를 줍니다!

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100,
 101,
 102,
 103,
 104,
 105,
 106,
 107,
 108,
 109,
 110,
 111,
 112,
 113,
 114,
 115,
 116,
 117,
 118,
 119,
 120,
 121,
 122,
 123,
 124,
 125,
 126,
 127,
 128,
 129,
 130,
 131,
 132,
 133,
 134,
 135,
 136,
 137,
 138,
 139,
 140,
 141,
 142,
 143,
 144,
 145,
 146,
 147,
 148,
 149,
 150,
 151,
 152,
 153,
 154,
 155,
 156,
 157,
 158,
 159,
 160,
 161,
 162,
 163,
 164,
 165,
 166,
 167,
 168,
 169,
 170,
 171,
 172,
 173,
 174,
 175,
 176,
 177,
 178,
 179,
 180,
 181,
 182,
 183,
 184,
 185,
 186,
 187,
 188,
 189,
 190,
 191,
 192,
 193,
 194,
 195,
 196,
 197,
 198,
 199,
 200,
 201,
 202,
 203,
 204,
 205,
 206,
 207,
 208,
 209,
 210,
 211,
 212,
 213,
 214,
 215,
 216,
 217,
 218,
 219,
 220,
 221,
 222,
 223,
 224,
 225,
 226,
 227,
 228,
 229,
 230,
 231,
 232,
 233,
 234,
 235,
 236,
 237,
 238,
 239,
 240,
 241,
 242,
 243,
 244,
 245,
 246,
 247,
 248,
 249,
 250,
 251,
 252,
 253,
 254,
 255,
 256,
 257,
 258,
 259,
 260,
 261,
 262,
 263,
 264,
 265,
 266,
 267,
 268,
 269,
 270,
 271,
 272,
 273,
 274,
 275,
 276,
 277,
 278,
 279,
 280,
 281,
 282,
 283,
 284,
 285,
 286,
 287,
 288,
 289,
 290,
 291,
 292,
 293,
 294,
 295,
 296,
 297,
 298,
 299,
 300,
 301,
 302,
 303,
 304,
 305,
 306,
 307,
 308,
 309,
 310,
 311,
 312,
 313,
 314,
 315,
 316,
 317,
 318,
 319,
 320,
 321,
 322,
 323,
 324,
 325,
 326,
 327,
 328,
 329,
 330,
 331,
 332,
 333,
 334,
 335,
 336,
 337,
 338,
 339,
 340,
 341,
 342,
 343,
 344,
 345,
 346,
 347,
 348,
 349,
 350,
 351,
 352,
 353,
 354,
 355,
 356,
 357,
 358,
 359,
 360,
 361,
 362,
 363,
 364,
 365,
 366,
 367,
 368,
 369,
 370,
 371,
 372,
 373,
 374,
 375,
 376,
 377,
 378,
 379,
 380,
 381,
 382,
 383,
 384,
 385,
 386,
 387,
 388,
 389,
 390,
 391,
 392,
 393,
 394,
 395,
 396,
 397,
 398,
 399,
 400,
 401,
 402,
 403,
 404,
 405,
 406,
 407,
 408,
 409,
 410,
 411,
 412,
 413,
 414,
 415,
 416,
 417,
 418,
 419,
 420,
 421,
 422,
 423,
 424,
 425,
 426,
 427,
 428,
 429,
 430,
 431,
 432,
 433,
 434,
 435,
 436,
 437,
 438,
 439,
 440,
 441,
 442,
 443,
 444,
 445,
 446,
 447,
 448,
 449,
 450,
 451,
 452,
 453,
 454,
 455,
 456,
 457,
 458,
 459,
 460,
 461,
 462,
 463,
 464,
 465,
 466,
 467,
 468,
 469,
 470,
 471,
 472,
 473,
 474,
 475,
 476,
 477,
 478,
 479,
 480,
 481,
 482,
 483,
 484,
 485,
 486,
 487,
 488,
 489,
 490,
 491,
 492,
 493,
 494,
 495,
 496,
 497,
 498,
 499,
 500,
 501,
 502,
 503,
 504,
 505,
 506,
 507,
 508,
 509,
 510,
 511,
 512,
 513,
 514,
 515,
 516,
 517,
 518,
 519,
 520,
 521,
 522,
 523,
 524,
 525,
 526,
 527,
 528,
 529,
 530,
 531,
 532,
 533,
 534,
 535,
 536,
 537,
 538,
 539,
 540,
 541,
 542,
 543,
 544,
 545,
 546,
 547,
 548,
 549,
 550,
 551,
 552,
 553,
 554,
 555,
 556,
 557,
 558,
 559,
 560,
 561,
 562,
 563,
 564,
 565,
 566,
 567,
 568,
 569,
 570,
 571,
 572,
 573,
 574,
 575,
 576,
 577,
 578,
 579,
 580,
 581,
 582,
 583,
 584,
 585,
 586,
 587,
 588,
 589,
 590,
 591,
 592,
 593,
 594,
 595,
 596,
 597,
 598,
 599,
 600,
 601,
 602,
 603,
 604,
 605,
 606,
 607,
 608,
 609,
 610,
 611,
 612,
 613,
 614,
 615,
 616,
 617,
 618,
 619,
 620,
 621,
 622,
 623,
 624,
 625,
 626,
 627,
 628,
 629,
 630,
 631,
 632,
 633,
 634,
 635,
 636,
 637,
 638,
 639,
 640,
 641,
 642,
 643,
 644,
 645,
 646,
 647,
 648,
 649,
 650,
 651,
 652,
 653,
 654,
 655,
 656,
 657,
 658,
 659,
 660,
 661,
 662,
 663,
 664,
 665,
 666,
 667,
 668,
 669,
 670,
 671,
 672,
 673,
 674,
 675,
 676,
 677,
 678,
 679,
 680,
 681,
 682,
 683,
 684,
 685,
 686,
 687,
 688,
 689,
 690,
 691,
 692,
 693,
 694,
 695,
 696,
 697,
 698,
 699,
 700,
 701,
 702,
 703,
 704,
 705,
 706,
 707,
 708,
 709,
 710,
 711,
 712,
 713,
 714,
 715,
 716,
 717,
 718,
 719,
 720,
 721,
 722,
 723,
 724,
 725,
 726,
 727,
 728,
 729,
 730,
 731,
 732,
 733,
 734,
 735,
 736,
 737,
 738,
 739,
 740,
 741,
 742,
 743,
 744,
 745,
 746,
 747,
 748,
 749,
 750,
 751,
 752,
 753,
 754,
 755,
 756,
 757,
 758,
 759,
 760,
 761,
 762,
 763,
 764,
 765,
 766,
 767,
 768,
 769,
 770,
 771,
 772,
 773,
 774,
 775,
 776,
 777,
 778,
 779,
 780,
 781,
 782,
 783,
 784,
 785,
 786,
 787,
 788,
 789,
 790,
 791,
 792,
 793,
 794,
 795,
 796,
 797,
 798,
 799,
 800,
 801,
 802,
 803,
 804,
 805,
 806,
 807,
 808,
 809,
 810,
 811,
 812,
 813,
 814,
 815,
 816,
 817,
 818,
 819,
 820,
 821,
 822,
 823,
 824,
 825,
 826,
 827,
 828,
 829,
 830,
 831,
 832,
 833,
 834,
 835,
 836,
 837,
 838,
 839,
 840,
 841,
 842,
 843,
 844,
 845,
 846,
 847,
 848,
 849,
 850,
 851,
 852,
 853,
 854,
 855,
 856,
 857,
 858,
 859,
 860,
 861,
 862,
 863,
 864,
 865,
 866,
 867,
 868,
 869,
 870,
 871,
 872,
 873,
 874,
 875,
 876,
 877,
 878,
 879,
 880,
 881,
 882,
 883,
 884,
 885,
 886,
 887,
 888,
 889,
 890,
 891,
 892,
 893,
 894,
 895,
 896,
 897,
 898,
 899,
 900,
 901,
 902,
 903,
 904,
 905,
 906,
 907,
 908,
 909,
 910,
 911,
 912,
 913,
 914,
 915,
 916,
 917,
 918,
 919,
 920,
 921,
 922,
 923,
 924,
 925,
 926,
 927,
 928,
 929,
 930,
 931,
 932,
 933,
 934,
 935,
 936,
 937,
 938,
 939,
 940,
 941,
 942,
 943,
 944,
 945,
 946,
 947,
 948,
 949,
 950,
 951,
 952,
 953,
 954,
 955,
 956,
 957,
 958,
 959,
 960,
 961,
 962,
 963,
 964,
 965,
 966,
 967,
 968,
 969,
 970,
 971,
 972,
 973,
 974,
 975,
 976,
 977,
 978,
 979,
 980,
 981,
 982,
 983,
 984,
 985,
 986,
 987,
 988,
 989,
 990,
 991,
 992,
 993,
 994,
 995,
 996,
 997,
 998,
 999]

In [ ]:
sum(range(1000))

499500

In [ ]:
sum(list(range(1000))) #메모리 부하가 큽니다.

499500

In [ ]:
values = ['A', 'B', 'C', 'D']
print(list(enumerate(values)))
print(list(enumerate(values, 1))) # 시작값 넣는 것 많이 사용합니다. 기억해두세요.

[(0, 'A'), (1, 'B'), (2, 'C'), (3, 'D')]
[(1, 'A'), (2, 'B'), (3, 'C'), (4, 'D')]

In [ ]:
list(reversed([1, 2, 3, 4, 5]))

[5, 4, 3, 2, 1]

In [ ]:
sorted([1, 2, 3, 4, 5]) # 왜 sorted만 자료형으로 주나요?,
#reversed나 map.filter나 이런건 모두 메모리 주소를 가리키는데?
# 정답:(추호에 심화 과정에서 강의합니다.) 메모리의 효율성 때문입니다.

[1, 2, 3, 4, 5]

# match

* 2024에는 중요도가 별포 0.5개 정도 되고
* 2 ~ 3년 후에는 중요도가 3 ~ 4개정도로 올라갈 것으로 보입니다.
* 속도가 매우 빨라야 하는 프로젝트를 여러분이하게 되었습니다. 그렇가면 match문법을 사용할 수는 있습니다. 다만 권고하기 어렵습니다.

In [ ]:
# 제가 반대하는 이유
# 타 언어에 비해서 불편한 점


요일 = 3
match 요일:
    case 0:
        print('일요일')
    case 1:
        print('월요일')
    case 2:
        print('화요일')
    case 3:
        print('수요일')
    case 4:
        print('목요일')
    case 5:
        print('금요일')
    case 6:
        print('토요일')
    case _:
        print('요일없음')

# 요일 = 3
# match 요일:
#     case 0:
#         print('일요일')
#     case 1:
#         print('월요일')
#     case 2:
#         print('화요일')
#     case 3: # 다른 언어에서는 이 문법이 가능합니다.

#     case 4:
#         print('목요일')
#     case 5:
#         print('금요일')
#     case 6:
#         print('토요일')

수요일

In [ ]:
text = '1'
match text:
    case '1' | '2':
        print('1, 2')
    case _:
        print('No Match')

1, 2

In [ ]:
# 오히려 이코드보다 아래 코드를 더 많이 만나게 될것임
def 요일반환(요일):
    return {
        0: '일요일',
        1: '일요일',
        2: '일요일',
        3: '일요일',
        4: '일요일',
        5: '일요일',
        6: '일요일',
    }.get(요일, '요일없음')

요일반환(2)
요일반환(100)

'요일없음'

# class

* class 이론을 여러권 + chatGPT + 유튜브를 보시는 것 보다는
* 여러개를 만들어보세요. ChatGPT에게 여러개의 클래스를
추천받고, ChatGPT에게 짜달라고 해서 그것을 타이핑해보시는 것도 많은 도움이 될겁니다.
* 결론:많은 것을 만들어 보셔야 합니다.

* class 클래스이름 -> 인스턴스
* class Blog -> 게시물1, 게시물2, 게시물3
* class Dot -> 점1, 점2, 점3...
* class Matrix -> 행렬 1, 행렬2, 행렬3
* class Cart -> Cart1, Cart2, Cart3
* class Comment(댓글) -> 댓글1, 댓글2, 댓글3
* class Character -> Licaat(주인공), Lion(빌런), Mob1(몬스터)
* class Product -> 상품1, 상품2, 상품3...
* class Class_ -> 강의, 강의2, 강의3
* class Teacher => 강사1, 강사2, 강사3

In [ ]:
# 0번: 기초상식
# 0.0 __init__ 매직메서드는 없어도 되나요?

class 우편번호:
    제주도 = 100
    경기도 = 100
    전라북도 = 102
    전라남도 = 103

우편번호.제주도
# 왜 이걸 딕셔너리로 만들지 않고 class로만드나요
# 재사용성 + 확장성

100

In [ ]:
from datetime import datetime

datetime.now()

datetime.datetime(2024, 1, 11, 5, 45, 46, 871417)

In [ ]:
# 1번
# 클래스를 설계하실 때
# 첫 번째로 - 모든 인스턴스에서 공유해야할 변수(클래스 변수)나 메서드 설정
# 두 번째로 - 인스턴스 고유의 영역
# in_crerate_at(스네이크 표기법) - 파이썬 권고사항
# inCreatedAt(카멜 표기법) - 파이썬에서는 잘 사용하지 않습니다.(JavaScript에서는 많이 사용합니다.)
# InCreatedAt(파스칼 표기법) - 파이썬 클래스

# 1번
# 클래스를 설계하실 때
# 첫 번째로 - 모든 인스턴스에서 공유해야할 변수(클래스 변수)나 메서드 설정
# 두 번째로 - 인스턴스 고유의 영역
# in_crerate_at(스네이크 표기법) - 파이썬 권고사항
# inCreatedAt(카멜 표기법) - 파이썬에서는 잘 사용하지 않습니다.(JavaScript에서는 많이 사용합니다.)
# InCreatedAt(파스칼 표기법) - 파이썬 클래스

class Post:
    def __init__(
            self,
            in_title='',
            in_contents='',
            in_count=0,
            in_crerate_at='',
            in_updated_at='',
            in_author=''
        ):
        self.title = in_title
        self.contents = in_contents
        self.count = in_count
        self.created_at = in_crerate_at
        self.updated_at = in_updated_at
        self.author = in_author
    def __str__(self):
        return self.title

    def __repr__(self):
        return self.title

    def __add__(self, next):
        # return self.count + next.count
        return self.title + next.title

    def __len__(self):
        pass

    def __eq__(self, next):
        return self.title == next.title

    def update(self, in_contents):
        self.contents = in_contents
        return '게시물 수정에 성공했습니다! 200'

    def delete(self):
        pass

게시물1 = Post('파이썬은 참 깊군요!',
            '오늘은 파이썬 클래스를 배웠는데 너무 어렵기도 하고, 신기했습니다.',
            0,
            '2024-01-11',
            '2024-01-11',
            '이호준')

게시물2 = Post('2', '22', 0, '2024-01-11', '2024-01-11', '이규성')

print(게시물1)
print(게시물1.title)
print(게시물1 + 게시물2) # +연산이 나오면 앞(게시물 1)
게시물1.update('hello world')
게시물1.contents

게시물1 == 게시물2

파이썬은 참 깊군요!
파이썬은 참 깊군요!
파이썬은 참 깊군요!2

False

In [ ]:
l = [10, 20, 30]
len(dir(l))

47

In [ ]:
dir(게시물2)

['__add__',
 '__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__len__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'author',
 'contents',
 'count',
 'created_at',
 'delete',
 'title',
 'update',
 'updated_at']

In [ ]:
# 1번
# 클래스를 설계하실 때
# 첫 번째로 - 모든 인스턴스에서 공유해야할 변수(클래스 변수)나 메서드 설정
# 두 번째로 - 인스턴스 고유의 영역
# in_crerate_at(스네이크 표기법) - 파이썬 권고사항
# inCreatedAt(카멜 표기법) - 파이썬에서는 잘 사용하지 않습니다.(JavaScript에서는 많이 사용합니다.)
# InCreatedAt(파스칼 표기법) - 파이썬 클래스

class Post:
    def __init__(
            self,
            in_title='',
            in_contents='',
            in_count=0,
            in_crerate_at='',
            in_updated_at='',
            in_author=''
        ):
        self.title = in_title
        self.contents = in_contents
        self.count = in_count
        self.created_at = in_crerate_at
        self.updated_at = in_updated_at
        self.author = in_author

    def __str__(self):
        return self.title

    def __repr__(self):
        return self.title

    def __add__(self, next):
        # return self.count + next.count
        return self.title + next.title

    def __eq__(self, next):
        return self.title == next.title

    def update(self, in_contents):
        '''
        in_ 실무에서 사용하는 접두사가 아닙니다!
        여러분에 이해를 돕기 위한 변수명입니다.
        '''
        self.contents = in_contents
        return '게시물 수정에 성공했습니다! 200'

게시물1 = Post(
    '2',
    '오늘은 파이썬 클래스를 배웠는데 너무 어렵기도 하고, 신기했습니다.',
    0,
    '2024-01-11',
    '2024-01-11',
    '이호준'
)

게시물2 = Post('2', '22', 0, '2024-01-11', '2024-01-11', '이호준')

print(게시물1)
print(게시물1.title)
print(게시물1 + 게시물2) # +연산이 나오면 앞(게시물 1)의 __add__가 실행됩니다.
게시물1.update('hello world')
게시물1.contents

# 이해하지 않으셔도 됩니다.
게시물1 == 게시물2 # 이 코드는 이제 title만 비교하는 코드가 되었습니다!

2
2
22

True

## Dot

In [ ]:
class Dot:
    def __init__(self, x, y):
        self.x = x
        self.y = y

    def __add__(self, next):
        return (self.x + next.x, self.y + next.y)

    def __mul__(self, next):
        return (self.x * next.x, self.y * next.y)

    def distance(self, next):
        dx = self.x - next.x
        dy = self.y - next.y
        return (dx**2 + dy**2) ** 0.5 # root은 ** 0.5로 많이 사용합니다.

dot1 = Dot(20, 10)
dot2 = Dot(30, 5)

dot1 + dot2
dot1 * dot2
dot1.distance(dot2)

11.180339887498949

# Character

In [ ]:
class Character:
    def __init__(self, name, skill, hp, mp, power, x):
        self.name = name
        self.skill = skill
        self.hp = hp
        self.mp = mp
        self.power = power
        self.x = x

    def move(self):
        self.x += 100

    def attact(self, next):
        next.hp -= self.power


주인공1 = Character('licat', '질풍검', 100, 100, 10, 10)
몹1 = Character('licat', '질풍검', 100, 100, 10, 10)

주인공1.attact(몹1)
몹1.hp

90