1. 데코레이터 문제: 1부터 100까지 더하는 함수를 만들고 이 함수에 데코레이터를 실행시켜 몇 초가 걸리는지 확인해주세요. 아래 힌트 코드 입니다.
    ```python
    import time
    def time_decorator(func):
        def wrapper():
            start_time = time.time()
            result = func()
            end_time = time.time()
            print(f"함수가 {end_time - start_time} 초가 걸렸습니다.")
            return result
        return wrapper
    ```

2. 제너레이터 문제: 0부터 시작하여, 매 호출 시마다 2씩 증가하는 값을 반환하는 제너레이터 함수를 작성하세요. 100이 되면 멈춰야 합니다.

    ```python
    for i in gen():
        print(i)
    ```

3. 예외처리 문제: 사용자로부터 두 개의 숫자를 입력받아 나눗셈을 수행하는 함수를 작성하세요. 이 때 0으로 나눌 때에는 예외처리를 해주세요.

    ```python
    def divide(x, y):
        return x / y
    ```

In [ ]:
 # 1번 답
 # 1.1
 import time

 def time_decorator(func):
     def wrapper(input_data):
         start_time = time.time()
         result = func(input_data)
         end_time = time.time()
         print(f"함수가 {end_time - start_time} 초가 걸렸습니다.")
         return result
     return wrapper

@time_decorator
def f(data):
    s = 0
    for i in range(data+1):
        s += i
    return s

f(100)

함수가 1.621246337890625e-05 초가 걸렸습니다.

5050

In [ ]:
 # 1번 답
 # 1.2
 import time

 def time_decorator(func):
     def wrapper():
         start_time = time.time()
         result = func()
         end_time = time.time()
         print(f"함수가 {end_time - start_time} 초가 걸렸습니다.")
         return result
     return wrapper

@time_decorator
def f():
    s = 0
    for i in range(101):
        s += i
    return s

f()

함수가 1.0251998901367188e-05 초가 걸렸습니다.

5050

In [ ]:
# 2번 답

def gen():
    for i in range(0, 101, 2):
        yield i
    return

# for i in gen():
#     print(i)

list(zip('hello world', gen()))

[('h', 0),
 ('e', 2),
 ('l', 4),
 ('l', 6),
 ('o', 8),
 (' ', 10),
 ('w', 12),
 ('o', 14),
 ('r', 16),
 ('l', 18),
 ('d', 20)]

In [ ]:
# 예외처리 문제: 사용자로부터 두 개의 숫자를 입력받아 나눗셈을 수행하는 함수를 작성하세요.
# 이 때 0으로 나눌 때에는 예외처리를 해주세요.

def divide(x, y):
    try:
        return x / y
    except:
        return 0

divide(1, 0)

0

# 파이썬 버전별 변동사항

* Python 3.5: async await
* Python 3.6: Dict에 순서, f-string, 타입힌트
* Python 3.7: dataclasses
* Python 3.8: 왈러스 연산자(:=)
* Python 3.9: 딕셔너리 결합 연산자(|)
* Python 3.10: match

In [ ]:
# id, name, email이 각각 3번씩 반복
# -> 이러한 현상을 보일러 플레이트(boiler-plate)라 함
# -> print를 해도 필드값이 보이지 않아 불편
class User:
    def __init__(self, id, name, email):
        self.id = id
        self.name = name
        self.email = email

In [ ]:
# 실무에서 사용하시는 분 아무도 못봤습니다.
# 그래서 복습X
# 정말 좋은 기능인데....

from dataclasses import dataclass

@dataclass
class User:
    id: int
    name: str
    email : str

user = User(123, 'hojun', 'hojun@gmail')
user

User(id=123, name='hojun', email='hojun@gmail')

In [ ]:
x = {"key1": "value1"}
y = {"key2": "value2"}
z = x | y
z

{'key1': 'value1', 'key2': 'value2'}

# 파일 입출력

In [ ]:
# open(파일이름, 파일모드)
f = open('python.txt', 'w') # 파일모드 : r, w, a, r+,
f.close()

In [ ]:
# 파일은 열었으면 꼭 닫으셔야 합니다.
# 닫지 않으면 메모리가 살아있습니다!
f = open('python.txt', 'w') # 파일모드 : r, w, a, r+,
f.write('hello world')
f.close()

In [ ]:
with open('test.txt', 'w') as f:
    f.write('hello world!')

In [ ]:
for i in range(10):
    with open(f'test{i}.txt', 'w') as f:
        f.write('hello world!')

In [ ]:
db_data = [
  {
    "_id": "7f5440ab-7e2f-4a42-Be13-89987fa65b32",
    "index": "1",
    "name": "등윤상",
    "email": "user-qe89s09@ut.io",
    "phone": "010-3542-7711",
    "country": "키리바시",
    "address": "방학로 74-9",
    "job": "일러스트레이터"
  },
  {
    "_id": "b4f7ade0-38bb-4e6f-B94a-18af1426eb30",
    "index": "2",
    "name": "노동규",
    "email": "user-nyr5mqw@ornare.com",
    "phone": "010-9743-6320",
    "country": "베냉",
    "address": "남부순환로 54-6",
    "job": "애완동물미용사"
  },
  {
    "_id": "5d788255-8d5e-4f03-B446-dbac6a147e37",
    "index": "3",
    "name": "경진아",
    "email": "user-n7pey4v@Etiam.biz",
    "phone": "010-4049-8718",
    "country": "아르메니아",
    "address": "강남대로 87-5",
    "job": "플로리스트"
  },
  {
    "_id": "083efce4-17ed-4e9f-Ad7c-f9aa0ac6cb79",
    "index": "4",
    "name": "복소유",
    "email": "user-ohaz2is@nibh.biz",
    "phone": "010-3400-5945",
    "country": "페루",
    "address": "양산로 78-1",
    "job": "응급구조사"
  },
  {
    "_id": "d54ce0fa-c025-4af6-Cd9a-b9d10aa8be5a",
    "index": "5",
    "name": "화예빈",
    "email": "user-mnkpdlp@vel.net",
    "phone": "010-3120-8720",
    "country": "허드 및 맥도널드 제도",
    "address": "한남대로 6-2",
    "job": "전문의사"
  }
]

In [ ]:
# 미션 1
# 각각의 회원 이름_info.txt로 각각 정보 정리

# 미션 2
# 엑셀로 각각 정보 정리

# 미션 3
# html로 table로 정리하기 => table 클릭하면 정렬되게 하기(JS를 배우셨으면 했을텐데ㅜㅜ 나중에 해보세요.)

In [ ]:
# 미션 1
# 각각의 회원 이름_info.txt로 각각 정보 정리
list(map(lambda x: x['name'], db_data))

for i, name in enumerate(map(lambda x: x['name'], db_data)):
    with open(f'{name}_info.txt', 'w') as f:
        f.write(str(db_data[i]))

In [ ]:
from bs4 import BeautifulSoup
import json

soup = BeautifulSoup(str(db_data), 'html.parser')
# json_data = json.loads(soup.text)
# json_data

In [ ]:
# 미션 2
# 엑셀로 각각 정보 정리
# "_id": "d54ce0fa-c025-4af6-Cd9a-b9d10aa8be5a",
# "index": "5",
# "name": "화예빈",
# "email": "user-mnkpdlp@vel.net",
# "phone": "010-3120-8720",
# "country": "허드 및 맥도널드 제도",
# "address": "한남대로 6-2",
# "job": "전문의사"
with open('data.csv', 'w') as f:
    s = '아이디,인덱스,이름,이메일,휴대폰,나라,주소,직업\n'
    for i in db_data:
        s += f'{i["_id"]},{i["index"]},{i["name"]},{i["email"]},{i["phone"]},{i["country"]},{i["address"]},{i["job"]}\n'
    f.write(s)

In [ ]:
# 부록
# 엑셀라이터
# 복습X

In [ ]:
!pip3 install xlsxwriter

Requirement already satisfied: xlsxwriter in /usr/local/lib/python3.10/dist-packages (3.1.9)

In [ ]:
# request나 bs4 기본 모듈 아닌데 colab에 깔려 있는 것입니다.
# 데스크톱에서 깔려있는지 확인하시지 않고 실행시키면 모듈이 없다고 나옵니다.

In [ ]:
# 워크북(엑셀파일 1개입니다.)
# 워크시트(sheet이라고 아래 여러개의 sheet을 만들 수 있습니다.)
# 셀(네모 칸 하나)

In [ ]:
import xlsxwriter

workbook = xlsxwriter.Workbook('hello.xlsx')
worksheet = workbook.add_worksheet('test')

worksheet.write('A1', 'A')
worksheet.write('B1', 'B')
worksheet.write('C1', 'C')
worksheet.write('A2', 'D')
worksheet.write('B2', 'E')
worksheet.write('C2', 'F')

worksheet.write(2, 0, 'hello')
worksheet.write(2, 1, 'world')
worksheet.write(2, 2, 'hojun')

workbook.close()

In [ ]:
import xlsxwriter

workbook = xlsxwriter.Workbook('hello.xlsx')
worksheet = workbook.add_worksheet('test')

철수 = [10, 20, 30]
영희 = [40, 50, 60]

worksheet.write('A1', '국')
worksheet.write('B1', '영')
worksheet.write('C1', '수')
worksheet.write('A2', 철수[0])
worksheet.write('B2', 철수[1])
worksheet.write('C2', 철수[2])
worksheet.write('A3', 영희[0])
worksheet.write('B3', 영희[1])
worksheet.write('C3', 영희[2])

for i in zip('ABC', 철수, 영희):
    worksheet.write(f'{i[0]}4', i[1] + i[2])

workbook.close()

In [ ]:
for i in zip('ABC', 철수, 영희):
    print(f'{i[0]}4', i[1] + i[2])

A4 50
B4 70
C4 90

In [ ]:
import xlsxwriter

workbook = xlsxwriter.Workbook('hello.xlsx')
worksheet = workbook.add_worksheet('test')

철수 = [10, 20, 30]
영희 = [40, 50, 60]

worksheet.write('A1', '국')
worksheet.write('B1', '영')
worksheet.write('C1', '수')
worksheet.write('A2', 철수[0])
worksheet.write('B2', 철수[1])
worksheet.write('C2', 철수[2])
worksheet.write('A3', 영희[0])
worksheet.write('B3', 영희[1])
worksheet.write('C3', 영희[2])

for i in zip('ABC', 철수, 영희):
    worksheet.write(f'{i[0]}4', i[1] + i[2])

# D1에 평균 텍스트 삽입
worksheet.write('D1', '평균')
# 수식 삽입
worksheet.write('D2', '=SUM(A2:C2)/3')
worksheet.write('D3', '=SUM(A3:C3)/3')

workbook.close()

In [ ]:
# 크롤링
# 웹크롤링 -> 엑셀
# 한글파일 크롤링 -> 엑셀
# PDF 크롤링 -> 엑셀

# 파일 형식 변환
# CSV => xlsx
# JSON => xlsx

# 메크로
# 메크로 작동 로직 => 엑셀

In [ ]:
# 미션 3
# html로 table로 정리하기
db_data = [
  {
    "_id": "7f5440ab-7e2f-4a42-Be13-89987fa65b32",
    "index": "1",
    "name": "등윤상",
    "email": "user-qe89s09@ut.io",
    "phone": "010-3542-7711",
    "country": "키리바시",
    "address": "방학로 74-9",
    "job": "일러스트레이터"
  },
  {
    "_id": "b4f7ade0-38bb-4e6f-B94a-18af1426eb30",
    "index": "2",
    "name": "노동규",
    "email": "user-nyr5mqw@ornare.com",
    "phone": "010-9743-6320",
    "country": "베냉",
    "address": "남부순환로 54-6",
    "job": "애완동물미용사"
  },
  {
    "_id": "5d788255-8d5e-4f03-B446-dbac6a147e37",
    "index": "3",
    "name": "경진아",
    "email": "user-n7pey4v@Etiam.biz",
    "phone": "010-4049-8718",
    "country": "아르메니아",
    "address": "강남대로 87-5",
    "job": "플로리스트"
  },
  {
    "_id": "083efce4-17ed-4e9f-Ad7c-f9aa0ac6cb79",
    "index": "4",
    "name": "복소유",
    "email": "user-ohaz2is@nibh.biz",
    "phone": "010-3400-5945",
    "country": "페루",
    "address": "양산로 78-1",
    "job": "응급구조사"
  },
  {
    "_id": "d54ce0fa-c025-4af6-Cd9a-b9d10aa8be5a",
    "index": "5",
    "name": "화예빈",
    "email": "user-mnkpdlp@vel.net",
    "phone": "010-3120-8720",
    "country": "허드 및 맥도널드 제도",
    "address": "한남대로 6-2",
    "job": "전문의사"
  }
]

In [ ]:
db_data

In [ ]:
s = '''
<style>
    table {
        border-collapse: collapse;
        width: 100%;
        border: 1px solid black;
    }
    tr, td, th {
        border: 1px solid black;
    }
</style>
<table>
    <tr>
        <th>아이디</th>
        <th>인덱스</th>
        <th>이름</th>
        <th>이메일</th>
        <th>휴대폰</th>
        <th>나라</th>
        <th>주소</th>
        <th>직업</th>
    </tr>
'''
for i, _ in enumerate(db_data):
    s += f'''
        <tr>
                <td>{db_data[i]["_id"]}</td>
                <td>{db_data[i]["index"]}</td>
                <td>{db_data[i]["name"]}</td>
                <td>{db_data[i]["email"]}</td>
                <td>{db_data[i]["phone"]}</td>
                <td>{db_data[i]["country"]}</td>
                <td>{db_data[i]["address"]}</td>
                <td>{db_data[i]["job"]}</td>
        </tr>
        '''
s += '</table>'
s

'\n<style>\n    table {\n        border-collapse: collapse;\n        width: 100%;\n        border: 1px solid black;\n    }\n    tr, td, th {\n        border: 1px solid black;\n    }\n</style>\n<table>\n    <tr>\n        <th>아이디</th>\n        <th>인덱스</th>\n        <th>이름</th>\n        <th>이메일</th>\n        <th>휴대폰</th>\n        <th>나라</th>\n        <th>주소</th>\n        <th>직업</th>\n    </tr>\n\n        <tr>\n                <td>7f5440ab-7e2f-4a42-Be13-89987fa65b32</td>\n                <td>1</td>\n                <td>등윤상</td>\n                <td>user-qe89s09@ut.io</td>\n                <td>010-3542-7711</td>\n                <td>키리바시</td>\n                <td>방학로 74-9</td>\n                <td>일러스트레이터</td>\n        </tr>\n        \n        <tr>\n                <td>b4f7ade0-38bb-4e6f-B94a-18af1426eb30</td>\n                <td>2</td>\n                <td>노동규</td>\n                <td>user-nyr5mqw@ornare.com</td>\n                <td>010-9743-6320</td>\n                <td>베냉</td>\n                <td>남부순환로 54-6</td>\n                <td>애완동물미용사</td>\n        </tr>\n        \n        <tr>\n                <td>5d788255-8d5e-4f03-B446-dbac6a147e37</td>\n                <td>3</td>\n                <td>경진아</td>\n                <td>user-n7pey4v@Etiam.biz</td>\n                <td>010-4049-8718</td>\n                <td>아르메니아</td>\n                <td>강남대로 87-5</td>\n                <td>플로리스트</td>\n        </tr>\n        \n        <tr>\n                <td>083efce4-17ed-4e9f-Ad7c-f9aa0ac6cb79</td>\n                <td>4</td>\n                <td>복소유</td>\n                <td>user-ohaz2is@nibh.biz</td>\n                <td>010-3400-5945</td>\n                <td>페루</td>\n                <td>양산로 78-1</td>\n                <td>응급구조사</td>\n        </tr>\n        \n        <tr>\n                <td>d54ce0fa-c025-4af6-Cd9a-b9d10aa8be5a</td>\n                <td>5</td>\n                <td>화예빈</td>\n                <td>user-mnkpdlp@vel.net</td>\n                <td>010-3120-8720</td>\n                <td>허드 및 맥도널드 제도</td>\n                <td>한남대로 6-2</td>\n                <td>전문의사</td>\n        </tr>\n        </table>'